# Configuration de la connexion à la base de données

In [2]:
import pandas as pd 
import cx_Oracle
import sys
import os

%pylab inline
%load_ext sql

Populating the interactive namespace from numpy and matplotlib

In [3]:
sys.path.append(os.path.abspath('../../.'))
from dbconnect import utilisateur,connexion,password

# Connexion

In [4]:
%sql oracle+cx_oracle://$utilisateur:$password@$connexion

'Connected: stag01@coursdb'

# La clause de partitionnement

<img src="https://raw.githubusercontent.com/rbizoi/IntelligenceEnDonneesDeSante/main/InterrogationSQL/images/M06-10.png" width="400">

In [5]:
%%sql 
SELECT NO_EMPLOYE, FONCTION, SALAIRE,
SUM( SALAIRE) OVER ( PARTITION BY FONCTION) "Somme Salaire"
FROM EMPLOYES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(44, 'Assistante commerciale', Decimal('2000'), 16540),
 (57, 'Assistante commerciale', Decimal('1700'), 16540),
 (104, 'Assistante commerciale', Decimal('1900'), 16540),
 (30, 'Assistante commerciale', Decimal('1200'), 16540),
 (75, 'Assistante commerciale', Decimal('1540'), 16540),
 (109, 'Assistante commerciale', Decimal('1300'), 16540),
 (64, 'Assistante commerciale', Decimal('1700'), 16540),
 (21, 'Assistante commerciale', Decimal('1800'), 16540),
 (89, 'Assistante commerciale', Decimal('2000'), 16540),
 (27, 'Assistante commerciale', Decimal('1400'), 16540),
 (33, 'Chef des ventes', Decimal('12000'), 83000),
 (24, 'Chef des ventes', Decimal('13000'), 83000),
 (23, 'Chef des ventes', Decimal('16000'), 83000),
 (11, 'Chef des ventes', Decimal('10000'), 83000),
 (95, 'Chef des ventes', Decimal('19000'), 83000),
 (86, 'Chef des ventes', Decimal('13000'), 83000),
 (37, 'Président', Decimal('150000'), 150000),
 (70, 'Représentant(e)', Decimal('9400'), 692900),
 (71, 'Représentant(e)', Decimal('7600'), 692900),
 (72, 'Représentant(e)', Decimal('6700'), 692900),
 (73, 'Représentant(e)', Decimal('8200'), 692900),
 (74, 'Représentant(e)', Decimal('7200'), 692900),
 (76, 'Représentant(e)', Decimal('6100'), 692900),
 (77, 'Représentant(e)', Decimal('7300'), 692900),
 (78, 'Représentant(e)', Decimal('5000'), 692900),
 (79, 'Représentant(e)', Decimal('9200'), 692900),
 (80, 'Représentant(e)', Decimal('6600'), 692900),
 (81, 'Représentant(e)', Decimal('5900'), 692900),
 (82, 'Représentant(e)', Decimal('6700'), 692900),
 (83, 'Représentant(e)', Decimal('9400'), 692900),
 (84, 'Représentant(e)', Decimal('6900'), 692900),
 (85, 'Représentant(e)', Decimal('7200'), 692900),
 (87, 'Représentant(e)', Decimal('8200'), 692900),
 (88, 'Représentant(e)', Decimal('8100'), 692900),
 (90, 'Représentant(e)', Decimal('8700'), 692900),
 (91, 'Représentant(e)', Decimal('5100'), 692900),
 (92, 'Représentant(e)', Decimal('7100'), 692900),
 (93, 'Représentant(e)', Decimal('7600'), 692900),
 (94, 'Représentant(e)', Decimal('7100'), 692900),
 (96, 'Représentant(e)', Decimal('6900'), 692900),
 (97, 'Représentant(e)', Decimal('9600'), 692900),
 (98, 'Représentant(e)', Decimal('7700'), 692900),
 (99, 'Représentant(e)', Decimal('7700'), 692900),
 (100, 'Représentant(e)', Decimal('6500'), 692900),
 (101, 'Représentant(e)', Decimal('6000'), 692900),
 (102, 'Représentant(e)', Decimal('8000'), 692900),
 (103, 'Représentant(e)', Decimal('5400'), 692900),
 (105, 'Représentant(e)', Decimal('6700'), 692900),
 (106, 'Représentant(e)', Decimal('10000'), 692900),
 (107, 'Représentant(e)', Decimal('6400'), 692900),
 (108, 'Représentant(e)', Decimal('8100'), 692900),
 (110, 'Représentant(e)', Decimal('9300'), 692900),
 (111, 'Représentant(e)', Decimal('6800'), 692900),
 (1, 'Représentant(e)', Decimal('9900'), 692900),
 (2, 'Représentant(e)', Decimal('9900'), 692900),
 (3, 'Représentant(e)', Decimal('5600'), 692900),
 (4, 'Représentant(e)', Decimal('6000'), 692900),
 (5, 'Représentant(e)', Decimal('7800'), 692900),
 (6, 'Représentant(e)', Decimal('7900'), 692900),
 (7, 'Représentant(e)', Decimal('6600'), 692900),
 (8, 'Représentant(e)', Decimal('9500'), 692900),
 (9, 'Représentant(e)', Decimal('7800'), 692900),
 (10, 'Représentant(e)', Decimal('9400'), 692900),
 (12, 'Représentant(e)', Decimal('6500'), 692900),
 (13, 'Représentant(e)', Decimal('9900'), 692900),
 (15, 'Représentant(e)', Decimal('8400'), 692900),
 (16, 'Représentant(e)', Decimal('8700'), 692900),
 (17, 'Représentant(e)', Decimal('5900'), 692900),
 (19, 'Représentant(e)', Decimal('6500'), 692900),
 (20, 'Représentant(e)', Decimal('8200'), 692900),
 (22, 'Représentant(e)', Decimal('6700'), 692900),
 (25, 'Représentant(e)', Decimal('6600'), 692900),
 (26, 'Représentant(e)', Decimal('8300'), 692900),
 (28, 'Représentant(e)', Decimal('8200'), 692900),
 (29, 'Représentant(e)', Decimal('8100'), 692900),
 (31, 'Représentant(e)', Decimal('6200'), 692900),
 (32, 'Représentant(e)', Decimal('9100'), 692900),
 (34, 'Représentant(e)', Decimal('7400'), 692900),
 (35, 'Représentant(e)', Decimal('6600'), 692900),
 (36, 'Représentant(e)', Decimal('6900'), 692900),
 (38, 'Représentant(e)', Decimal('9500'), 692900),
 (39, 'Représentant(e)', Decimal('9800'), 692900),
 (40, 'Représentant(e)', Decimal('8700'), 692900),
 (41, 'Représentant(e)', Decimal('5500'), 692900),
 (42, 'Représentant(e)', Decimal('9200'), 692900),
 (43, 'Représentant(e)', Decimal('5400'), 692900),
 (45, 'Représentant(e)', Decimal('8000'), 692900),
 (46, 'Représentant(e)', Decimal('5200'), 692900),
 (47, 'Représentant(e)', Decimal('9200'), 692900),
 (48, 'Représentant(e)', Decimal('8400'), 692900),
 (49, 'Représentant(e)', Decimal('5500'), 692900),
 (50, 'Représentant(e)', Decimal('5200'), 692900),
 (51, 'Représentant(e)', Decimal('7200'), 692900),
 (52, 'Représentant(e)', Decimal('8900'), 692900),
 (53, 'Représentant(e)', Decimal('8800'), 692900),
 (54, 'Représentant(e)', Decimal('6300'), 692900),
 (55, 'Représentant(e)', Decimal('5800'), 692900),
 (56, 'Représentant(e)', Decimal('8900'), 692900),
 (58, 'Représentant(e)', Decimal('8800'), 692900),
 (59, 'Représentant(e)', Decimal('8200'), 692900),
 (60, 'Représentant(e)', Decimal('9200'), 692900),
 (61, 'Représentant(e)', Decimal('9500'), 692900),
 (62, 'Représentant(e)', Decimal('6800'), 692900),
 (63, 'Représentant(e)', Decimal('7000'), 692900),
 (65, 'Représentant(e)', Decimal('8100'), 692900),
 (66, 'Représentant(e)', Decimal('5500'), 692900),
 (67, 'Représentant(e)', Decimal('6600'), 692900),
 (68, 'Représentant(e)', Decimal('5500'), 692900),
 (69, 'Représentant(e)', Decimal('7200'), 692900),
 (18, 'Vice-Président', Decimal('147000'), 243000),
 (14, 'Vice-Président', Decimal('96000'), 243000)]

In [7]:
%%sql
SELECT 
    NOM_PRODUIT "Produit", 
    CODE_CATEGORIE "Cat",
    NO_FOURNISSEUR "Four", 
    UNITES_STOCK "US",
    SUM(UNITES_STOCK) OVER (PARTITION BY CODE_CATEGORIE) "SUSC",
    AVG(UNITES_STOCK) OVER (PARTITION BY NO_FOURNISSEUR) "AUSF"
FROM PRODUITS

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Chang', 1, 1, 17, 874, 23),
 ('Aniseed Syrup', 2, 1, 13, 1032, 23),
 ('Chai', 1, 1, 39, 874, 23),
 ('Amandes', 7, 2, 20, 589, Decimal('30.42857142857142857142857142857142857143')),
 ('Cherry Pie Filling', 9, 2, 40, 460, Decimal('30.42857142857142857142857142857142857143')),
 ("Chef Anton's Cajun Seasoning", 2, 2, 53, 1032, Decimal('30.42857142857142857142857142857142857143')),
 ("Chef Anton's Gumbo Mix", 2, 2, 0, 1032, Decimal('30.42857142857142857142857142857142857143')),
 ('Brownie Mix', 3, 2, 20, 466, Decimal('30.42857142857142857142857142857142857143')),
 ('Louisiana Fiery Hot Pepper Sauce', 2, 2, 76, 1032, Decimal('30.42857142857142857142857142857142857143')),
 ('Louisiana Hot Spiced Okra', 2, 2, 4, 1032, Decimal('30.42857142857142857142857142857142857143')),
 ("Grandma's Boysenberry Spread", 2, 3, 120, 1032, 47),
 ('Northwoods Cranberry Sauce', 2, 3, 6, 1032, 47),
 ("Uncle Bob's Organic Dried Pears", 7, 3, 15, 589, 47),
 ('Corn', 9, 4, 40, 460, Decimal('42.5')),
 ('Ikura', 8, 4, 31, 701, Decimal('42.5')),
 ('Long Grain Rice', 7, 4, 100, 589, Decimal('42.5')),
 ('Longlife Tofu', 7, 4, 4, 589, Decimal('42.5')),
 ('Mishi Kobe Niku', 6, 4, None, 136, Decimal('42.5')),
 ('Scones', 3, 4, 20, 466, Decimal('42.5')),
 ('Mustard', 2, 4, 60, 1032, Decimal('42.5')),
 ('Green Beans', 9, 5, 40, 460, Decimal('45.6')),
 ('Queso Cabrales', 4, 5, 22, 433, Decimal('45.6')),
 ('Peas', 9, 5, 40, 460, Decimal('45.6')),
 ('Queso Manchego La Pastora', 4, 5, 86, 433, Decimal('45.6')),
 ('Walnuts', 7, 5, 40, 589, Decimal('45.6')),
 ('Genen Shouyu', 2, 6, 39, 1032, Decimal('49.66666666666666666666666666666666666667')),
 ('Tofu', 7, 6, 35, 589, Decimal('49.66666666666666666666666666666666666667')),
 ('Konbu', 8, 6, 24, 701, Decimal('49.66666666666666666666666666666666666667')),
 ('Les Comptoirs  - Olive Oil', 2, 6, 40, 1032, Decimal('49.66666666666666666666666666666666666667')),
 ('Long Grain Rice - Gnocchi', 5, 6, 120, 642, Decimal('49.66666666666666666666666666666666666667')),
 ('Peaches', 9, 6, 40, 460, Decimal('49.66666666666666666666666666666666666667')),
 ('Pavlova', 3, 7, 29, 466, 26),
 ('Outback Lager', 1, 7, 15, 874, 26),
 ('Chocolate Biscuits Mix', 3, 7, 20, 466, 26),
 ('Vegie-spread', 2, 7, 24, 1032, 26),
 ('Alice Mutton', 6, 7, None, 136, 26),
 ('Carnarvon Tigers', 8, 7, 42, 701, 26),
 ("Sir Rodney's Marmalade", 3, 8, 40, 466, Decimal('29.8')),
 ('Teatime Chocolate Biscuits', 3, 8, 25, 466, Decimal('29.8')),
 ('Scottish Longbreads', 3, 8, 6, 466, Decimal('29.8')),
 ("Sir Rodney's Scones", 3, 8, 3, 466, Decimal('29.8')),
 ('Dried Plums', 7, 8, 75, 589, Decimal('29.8')),
 ("Gustaf's Knäckebröd", 5, 9, 104, 642, Decimal('82.5')),
 ('Tunnbröd', 5, 9, 61, 642, Decimal('82.5')),
 ('Guaraná Fantástica', 1, 10, None, 874, None),
 ('Granola', 5, 11, 100, 642, 60),
 ('Schoggi Schokolade', 3, 11, 49, 466, 60),
 ('Gumbär Gummibärchen', 3, 11, 15, 466, 60),
 ('NuNuCa Nuß-Nougat-Creme', 3, 11, 76, 466, 60),
 ('Rhönbräu Klosterbier', 1, 12, 125, 874, Decimal('59.66666666666666666666666666666666666667')),
 ('Thüringer Rostbratwurst', 6, 12, None, 136, Decimal('59.66666666666666666666666666666666666667')),
 ('Wimmers gute Semmelknödel', 5, 12, 22, 642, Decimal('59.66666666666666666666666666666666666667')),
 ('Original Frankfurter grüne Soße', 2, 12, 32, 1032, Decimal('59.66666666666666666666666666666666666667')),
 ('Rössle Sauerkraut', 7, 12, None, 589, Decimal('59.66666666666666666666666666666666666667')),
 ('Vegetable Soup', 2, 13, 25, 1032, 25),
 ('Nord-Ost Matjeshering', 8, 13, 10, 701, 25),
 ('Fruit Cocktail', 9, 13, 40, 460, 25),
 ('Tea', 1, 14, 50, 874, Decimal('45.33333333333333333333333333333333333333')),
 ('Green Tea', 1, 14, 125, 874, Decimal('45.33333333333333333333333333333333333333')),
 ('Clam Chowder', 2, 14, 40, 1032, Decimal('45.33333333333333333333333333333333333333')),
 ('Hot Pepper Sauce', 2, 14, 40, 1032, Decimal('45.33333333333333333333333333333333333333')),
 ('Mascarpone Fabioli', 4, 14, 9, 433, Decimal('45.33333333333333333333333333333333333333')),
 ('Mozzarella di Giovanni', 4, 14, 14, 433, Decimal('45.33333333333333333333333333333333333333')),
 ('Gorgonzola Telino', 4, 14, 0, 433, Decimal('45.33333333333333333333333333333333333333')),
 ('Ravioli', 5, 14, 80, 642, Decimal('45.33333333333333333333333333333333333333')),
 ('Smoked Salmon', 10, 14, 50, 220, Decimal('45.33333333333333333333333333333333333333')),
 ('Fløtemysost', 4, 15, 26, 433, Decimal('54.66666666666666666666666666666666666667')),
 ('Gudbrandsdalsost', 4, 15, 26, 433, Decimal('54.66666666666666666666666666666666666667')),
 ('Geitost', 4, 15, 112, 433, Decimal('54.66666666666666666666666666666666666667')),
 ('Laughing Lumberjack Lager', 1, 16, 52, 874, Decimal('70.5')),
 ('Sasquatch Ale', 1, 16, 111, 874, Decimal('70.5')),
 ('Steeleye Stout', 1, 16, 20, 874, Decimal('70.5')),
 ('Chicken Soup', 2, 16, 60, 1032, Decimal('70.5')),
 ('Tomato Sauce', 2, 16, 80, 1032, Decimal('70.5')),
 ('Coffee', 1, 16, 100, 874, Decimal('70.5')),
 ('Gravad lax', 8, 17, 11, 701, 81),
 ('Röd Kaviar', 8, 17, 101, 701, 81),
 ('Syrup', 2, 17, 100, 1032, 81),
 ('Inlagd Sill', 8, 17, 112, 701, 81),
 ('Beer', 1, 18, 60, 874, Decimal('49.2')),
 ('Chartreuse verte', 1, 18, 69, 874, Decimal('49.2')),
 ('Hot Cereal', 5, 18, 60, 642, Decimal('49.2')),
 ('Côte de Blaye', 1, 18, 17, 874, Decimal('49.2')),
 ('Mozzarella', 4, 18, 40, 433, Decimal('49.2')),
 ('Boston Crab Meat', 8, 19, 123, 701, Decimal('109.333333333333333333333333333333333333')),
 ('Crab Meat', 10, 19, 120, 220, Decimal('109.333333333333333333333333333333333333')),
 ("Jack's New England Clam Chowder", 8, 19, 85, 701, Decimal('109.333333333333333333333333333333333333')),
 ('Cake Mix', 3, 20, 20, 466, Decimal('21.33333333333333333333333333333333333333')),
 ('Ipoh Coffee', 1, 20, 17, 874, Decimal('21.33333333333333333333333333333333333333')),
 ('Singaporean Hokkien Fried Mee', 5, 20, None, 642, Decimal('21.33333333333333333333333333333333333333')),
 ('Gula Malacca', 2, 20, 27, 1032, Decimal('21.33333333333333333333333333333333333333')),
 ('Dried Pears', 7, 21, 40, 589, 45),
 ('Spegesild', 8, 21, 95, 701, 45),
 ('Dried Apples', 7, 21, 40, 589, 45),
 ('Røgede sild', 8, 21, 5, 701, 45),
 ('Chocolade', 3, 22, 15, 466, Decimal('25.5')),
 ('Zaanse koeken', 3, 22, 36, 466, Decimal('25.5')),
 ('Lakkalikööri', 1, 23, 57, 874, 83),
 ('Potato Chips', 7, 23, 200, 589, 83),
 ('Valkoinen suklaa', 3, 23, 65, 466, 83),
 ('Maxilaku', 3, 23, 10, 466, 83),
 ('Manjimup Dried Apples', 7, 24, 20, 589, Decimal('32.66666666666666666666666666666666666667')),
 ('Filo Mix', 5, 24, 38, 642, Decimal('32.66666666666666666666666666666666666667')),
 ('Marmalade', 9, 24, 40, 460, Decimal('32.66666666666666666666666666666666666667')),
 ('Perth Pasties', 6, 24, None, 136, Decimal('32.66666666666666666666666666666666666667')),
 ('Tourtière', 6, 25, 21, 136, Decimal('58.66666666666666666666666666666666666667')),
 ('Pears', 9, 25, 40, 460, Decimal('58.66666666666666666666666666666666666667')),
 ('Pâté chinois', 6, 25, 115, 136, Decimal('58.66666666666666666666666666666666666667')),
 ('Gnocchi di nonna Alice', 5, 26, 21, 642, Decimal('49.25')),
 ('Curry Sauce', 2, 26, 40, 1032, Decimal('49.25')),
 ('Ravioli Angelo', 5, 26, 36, 642, Decimal('49.25')),
 ('Boysenberry Spread', 9, 26, 100, 460, Decimal('49.25')),
 ('Escargots de Bourgogne', 8, 27, 62, 701, 48),
 ('Pineapple', 9, 27, 40, 460, 48),
 ('Cajun Seasoning', 2, 27, 40, 1032, 48),
 ('Tuna Fish', 10, 27, 50, 220, 48),
 ('Raclette Courdavault', 4, 28, 79, 433, 49),
 ('Camembert Pierrot', 4, 28, 19, 433, 49),
 ("Sirop d'érable", 2, 29, 113, 1032, 65),
 ('Tarte au sucre', 3, 29, 17, 466, 65)]

In [9]:
%%sql
SELECT 
    NOM, 
    FONCTION, SALAIRE, 
    SALAIRE * 100/ SUM( SALAIRE) OVER ( PARTITION BY FONCTION) "% Fonction",
    SALAIRE * 100/ SUM( SALAIRE) OVER () "% Total" 
FROM EMPLOYES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Etienne', 'Assistante commerciale', Decimal('2000'), Decimal('12.09189842805320435308343409915356711004'), Decimal('0.1687137265487920097179106492104197597517')),
 ('Grangirard', 'Assistante commerciale', Decimal('1700'), Decimal('10.27811366384522370012091898428053204353'), Decimal('0.1434066675664732082602240518288567957889')),
 ('Ziliox', 'Assistante commerciale', Decimal('1900'), Decimal('11.48730350665054413542926239419588875453'), Decimal('0.1602780402213524092320151167498987717641')),
 ('Callahan', 'Assistante commerciale', Decimal('1200'), Decimal('7.25513905683192261185006045949214026602'), Decimal('0.101228235929275205830746389526251855851')),
 ('Devie', 'Assistante commerciale', Decimal('1540'), Decimal('9.31076178960096735187424425634824667473'), Decimal('0.1299095694425698474827911998920232150088')),
 ('Lampis', 'Assistante commerciale', Decimal('1300'), Decimal('7.85973397823458282950423216444981862152'), Decimal('0.1096639222567148063166419219867728438386')),
 ('Guerdon', 'Assistante commerciale', Decimal('1700'), Decimal('10.27811366384522370012091898428053204353'), Decimal('0.1434066675664732082602240518288567957889')),
 ('Poupard', 'Assistante commerciale', Decimal('1800'), Decimal('10.88270858524788391777509068923821039903'), Decimal('0.1518423538939128087461195842893777837765')),
 ('Pouetre', 'Assistante commerciale', Decimal('2000'), Decimal('12.09189842805320435308343409915356711004'), Decimal('0.1687137265487920097179106492104197597517')),
 ('Maurer', 'Assistante commerciale', Decimal('1400'), Decimal('8.46432889963724304715840386940749697703'), Decimal('0.1180996085841544068025374544472938318262')),
 ('Chambaud', 'Chef des ventes', Decimal('12000'), Decimal('14.45783132530120481927710843373493975904'), Decimal('1.01228235929275205830746389526251855851')),
 ('Buchanan', 'Chef des ventes', Decimal('13000'), Decimal('15.66265060240963855421686746987951807229'), Decimal('1.09663922256714806316641921986772843839')),
 ('Splingart', 'Chef des ventes', Decimal('16000'), Decimal('19.27710843373493975903614457831325301205'), Decimal('1.34970981239033607774328519368335807801')),
 ('Belin', 'Chef des ventes', Decimal('10000'), Decimal('12.04819277108433734939759036144578313253'), Decimal('0.8435686327439600485895532460520987987583')),
 ('Leger', 'Chef des ventes', Decimal('19000'), Decimal('22.89156626506024096385542168674698795181'), Decimal('1.60278040221352409232015116749898771764')),
 ('Ragon', 'Chef des ventes', Decimal('13000'), Decimal('15.66265060240963855421686746987951807229'), Decimal('1.09663922256714806316641921986772843839')),
 ('Giroux', 'Président', Decimal('150000'), 100, Decimal('12.65352949115940072884329869078148198137')),
 ('Berlioz', 'Représentant(e)', Decimal('9400'), Decimal('1.3566171164670226583922643960167412325'), Decimal('0.7929545147793224456741800512889728708328')),
 ('Nocella', 'Représentant(e)', Decimal('7600'), Decimal('1.09683937076057151104055419252417376245'), Decimal('0.6411121608854096369280604669995950870563')),
 ('Herve', 'Représentant(e)', Decimal('6700'), Decimal('0.966950497907345937364699090777890027421'), Decimal('0.565190983938453232555000674854906195168')),
 ('Mangeard', 'Représentant(e)', Decimal('8200'), Decimal('1.1834319526627218934911242603550295858'), Decimal('0.6917262788500472398434336617627210149818')),
 ('Cazade', 'Représentant(e)', Decimal('7200'), Decimal('1.03911098282580458940684081397026988021'), Decimal('0.607369415575651234984478337157511135106')),
 ('Peacock', 'Représentant(e)', Decimal('6100'), Decimal('0.8803579160051955549141290229470342040699'), Decimal('0.5145768659738156296396274800917802672425')),
 ('Idesheim', 'Représentant(e)', Decimal('7300'), Decimal('1.05354307980949631981526915860874585077'), Decimal('0.6158051019030908354703738696180321230935')),
 ('Rollet', 'Représentant(e)', Decimal('5000'), Decimal('0.7216048491845865204214172319237985279261'), Decimal('0.4217843163719800242947766230260493993791')),
 ('Silberreiss', 'Représentant(e)', Decimal('9200'), Decimal('1.32775292249963919757540770673978929138'), Decimal('0.7760831421244432447023889863679308948576')),
 ('Weiss', 'Représentant(e)', Decimal('6600'), Decimal('0.9525184009236542069562707461394140568625'), Decimal('0.5567552976110136320691051423943852071805')),
 ('Delorgue', 'Représentant(e)', Decimal('5900'), Decimal('0.8514937220378120940972723336700822629528'), Decimal('0.4977054933189364286678364151707382912674')),
 ('Zonca', 'Représentant(e)', Decimal('6700'), Decimal('0.966950497907345937364699090777890027421'), Decimal('0.565190983938453232555000674854906195168')),
 ('Twardowski', 'Représentant(e)', Decimal('9400'), Decimal('1.3566171164670226583922643960167412325'), Decimal('0.7929545147793224456741800512889728708328')),
 ('Coutou', 'Représentant(e)', Decimal('6900'), Decimal('0.995814691874729398181555780054841968538'), Decimal('0.5820623565933324335267917397759481711432')),
 ('King', 'Représentant(e)', Decimal('7200'), Decimal('1.03911098282580458940684081397026988021'), Decimal('0.607369415575651234984478337157511135106')),
 ('Dohr', 'Représentant(e)', Decimal('8200'), Decimal('1.1834319526627218934911242603550295858'), Decimal('0.6917262788500472398434336617627210149818')),
 ('Maurousset', 'Représentant(e)', Decimal('8100'), Decimal('1.16899985567903016308269591571655361524'), Decimal('0.6832905925226076393575381293022000269942')),
 ('Montesinos', 'Représentant(e)', Decimal('8700'), Decimal('1.25559243758118054553326598354740943859'), Decimal('0.7339047104872452422729113240653259549197')),
 ('Aubert', 'Représentant(e)', Decimal('5100'), Decimal('0.7360369461682782508298455765622744984846'), Decimal('0.4302200026994196247806721554865703873667')),
 ('Thomas', 'Représentant(e)', Decimal('7100'), Decimal('1.02467888584211285899841246933179390966'), Decimal('0.5989337292482116344985828046969901471184')),
 ('Falatik', 'Représentant(e)', Decimal('7600'), Decimal('1.09683937076057151104055419252417376245'), Decimal('0.6411121608854096369280604669995950870563')),
 ('Marielle', 'Représentant(e)', Decimal('7100'), Decimal('1.02467888584211285899841246933179390966'), Decimal('0.5989337292482116344985828046969901471184')),
 ('Marchand', 'Représentant(e)', Decimal('6900'), Decimal('0.995814691874729398181555780054841968538'), Decimal('0.5820623565933324335267917397759481711432')),
 ('Seigne', 'Représentant(e)', Decimal('9600'), Decimal('1.38548131043440611920912108529369317362'), Decimal('0.8098258874342016466459711162100148468079')),
 ('Burst', 'Représentant(e)', Decimal('7700'), Decimal('1.11127146774426324144898253716264973301'), Decimal('0.6495478472128492374139559994601160750439')),
 ('Damas', 'Représentant(e)', Decimal('7700'), Decimal('1.11127146774426324144898253716264973301'), Decimal('0.6495478472128492374139559994601160750439')),
 ('Espeche', 'Représentant(e)', Decimal('6500'), Decimal('0.9380863039399624765478424015009380863039'), Decimal('0.5483196112835740315832096099338642191929')),
 ('Charles', 'Représentant(e)', Decimal('6000'), Decimal('0.8659258190215038245057006783085582335113'), Decimal('0.506141179646376029153731947631259279255')),
 ('Thimoleon', 'Représentant(e)', Decimal('8000'), Decimal('1.15456775869533843267426757107807764468'), Decimal('0.6748549061951680388716425968416790390066')),
 ('Arrambide', 'Représentant(e)', Decimal('5400'), Decimal('0.7793332371193534420551306104777024101602'), Decimal('0.4555270616817384262383587528681333513295')),
 ('Viry', 'Représentant(e)', Decimal('6700'), Decimal('0.966950497907345937364699090777890027421'), Decimal('0.565190983938453232555000674854906195168')),
 ('Cheutin', 'Représentant(e)', Decimal('10000'), Decimal('1.44320969836917304084283446384759705585'), Decimal('0.8435686327439600485895532460520987987583')),
 ('Lombard', 'Représentant(e)', Decimal('6400'), Decimal('0.9236542069562707461394140568624621157454'), Decimal('0.5398839249561344310973140774733432312053')),
 ('Tourtel', 'Représentant(e)', Decimal('8100'), Decimal('1.16899985567903016308269591571655361524'), Decimal('0.6832905925226076393575381293022000269942')),
 ('Regner', 'Représentant(e)', Decimal('9300'), Decimal('1.34218501948333092798383605137826526194'), Decimal('0.7845188284518828451882845188284518828452')),
 ('Teixeira', 'Représentant(e)', Decimal('6800'), Decimal('0.9813825948910376677731274354163659979795'), Decimal('0.5736266702658928330408962073154271831556')),
 ('Besse', 'Représentant(e)', Decimal('9900'), Decimal('1.42877760138548131043440611920912108529'), Decimal('0.8351329464165204481036577135915778107707')),
 ('Destenay', 'Représentant(e)', Decimal('9900'), Decimal('1.42877760138548131043440611920912108529'), Decimal('0.8351329464165204481036577135915778107707')),
 ('Letertre', 'Représentant(e)', Decimal('5600'), Decimal('0.8081974310867369028719872997546543512772'), Decimal('0.4723984343366176272101498177891753273046')),
 ('Kremser', 'Représentant(e)', Decimal('6000'), Decimal('0.8659258190215038245057006783085582335113'), Decimal('0.506141179646376029153731947631259279255')),
 ('Lamarre', 'Représentant(e)', Decimal('7800'), Decimal('1.12570356472795497185741088180112570356'), Decimal('0.6579835335402888378998515319206370630314')),
 ('Cleret', 'Représentant(e)', Decimal('7900'), Decimal('1.14013566171164670226583922643960167412'), Decimal('0.666419219867728438385747064381158051019')),
 ('Poidatz', 'Représentant(e)', Decimal('6600'), Decimal('0.9525184009236542069562707461394140568625'), Decimal('0.5567552976110136320691051423943852071805')),
 ('Messelier', 'Représentant(e)', Decimal('9500'), Decimal('1.37104921345071438880069274065521720306'), Decimal('0.8013902011067620461600755837494938588204')),
 ('Gardeil', 'Représentant(e)', Decimal('7800'), Decimal('1.12570356472795497185741088180112570356'), Decimal('0.6579835335402888378998515319206370630314')),
 ('Capharsie', 'Représentant(e)', Decimal('9400'), Decimal('1.3566171164670226583922643960167412325'), Decimal('0.7929545147793224456741800512889728708328')),
 ('Perny', 'Représentant(e)', Decimal('6500'), Decimal('0.9380863039399624765478424015009380863039'), Decimal('0.5483196112835740315832096099338642191929')),
 ('Courty', 'Représentant(e)', Decimal('9900'), Decimal('1.42877760138548131043440611920912108529'), Decimal('0.8351329464165204481036577135915778107707')),
 ('Suyama', 'Représentant(e)', Decimal('8400'), Decimal('1.21229614663010535430798094963198152692'), Decimal('0.7085976515049264408152247266837629909569')),
 ('Malejac', 'Représentant(e)', Decimal('8700'), Decimal('1.25559243758118054553326598354740943859'), Decimal('0.7339047104872452422729113240653259549197')),
 ('Blard', 'Représentant(e)', Decimal('5900'), Decimal('0.8514937220378120940972723336700822629528'), Decimal('0.4977054933189364286678364151707382912674')),
 ('Pagani', 'Représentant(e)', Decimal('6500'), Decimal('0.9380863039399624765478424015009380863039'), Decimal('0.5483196112835740315832096099338642191929')),
 ('Gerard', 'Représentant(e)', Decimal('8200'), Decimal('1.1834319526627218934911242603550295858'), Decimal('0.6917262788500472398434336617627210149818')),
 ('Piroddi', 'Représentant(e)', Decimal('6700'), Decimal('0.966950497907345937364699090777890027421'), Decimal('0.565190983938453232555000674854906195168')),
 ('Chaussende', 'Représentant(e)', Decimal('6600'), Decimal('0.9525184009236542069562707461394140568625'), Decimal('0.5567552976110136320691051423943852071805')),
 ('Hanriot', 'Représentant(e)', Decimal('8300'), Decimal('1.19786404964641362389955260499350555636'), Decimal('0.7001619651774868403293291942232420029694')),
 ('Davolio', 'Représentant(e)', Decimal('8200'), Decimal('1.1834319526627218934911242603550295858'), Decimal('0.6917262788500472398434336617627210149818')),
 ('Frederic', 'Représentant(e)', Decimal('8100'), Decimal('1.16899985567903016308269591571655361524'), Decimal('0.6832905925226076393575381293022000269942')),
 ('Pequignot', 'Représentant(e)', Decimal('6200'), Decimal('0.8947900129888872853225573675855101746284'), Decimal('0.5230125523012552301255230125523012552301')),
 ('Duriez', 'Représentant(e)', Decimal('9100'), Decimal('1.31332082551594746716697936210131332083'), Decimal('0.76764745579700364421649345390740990687')),
 ('Leverling', 'Représentant(e)', Decimal('7400'), Decimal('1.06797517679318805022369750324722182133'), Decimal('0.6242407882305304359562694020785531110811')),
 ('Brunet', 'Représentant(e)', Decimal('6600'), Decimal('0.9525184009236542069562707461394140568625'), Decimal('0.5567552976110136320691051423943852071805')),
 ('Cremel', 'Représentant(e)', Decimal('6900'), Decimal('0.995814691874729398181555780054841968538'), Decimal('0.5820623565933324335267917397759481711432')),
 ('Perret', 'Représentant(e)', Decimal('9500'), Decimal('1.37104921345071438880069274065521720306'), Decimal('0.8013902011067620461600755837494938588204')),
 ('Jenny', 'Représentant(e)', Decimal('9800'), Decimal('1.41434550440178958002597777457064511474'), Decimal('0.8266972600890808476177621811310568227831')),
 ('Mennetrier', 'Représentant(e)', Decimal('8700'), Decimal('1.25559243758118054553326598354740943859'), Decimal('0.7339047104872452422729113240653259549197')),
 ('Michiels', 'Représentant(e)', Decimal('5500'), Decimal('0.7937653341030451724635589551161783807187'), Decimal('0.463962748009178026724254285328654339317')),
 ('Valot', 'Représentant(e)', Decimal('9200'), Decimal('1.32775292249963919757540770673978929138'), Decimal('0.7760831421244432447023889863679308948576')),
 ('Steiner', 'Représentant(e)', Decimal('5400'), Decimal('0.7793332371193534420551306104777024101602'), Decimal('0.4555270616817384262383587528681333513295')),
 ('Gregoire', 'Représentant(e)', Decimal('8000'), Decimal('1.15456775869533843267426757107807764468'), Decimal('0.6748549061951680388716425968416790390066')),
 ('Guillossou', 'Représentant(e)', Decimal('5200'), Decimal('0.7504690431519699812382739212007504690432'), Decimal('0.4386556890268592252665676879470913753543')),
 ('Lefebvre', 'Représentant(e)', Decimal('9200'), Decimal('1.32775292249963919757540770673978929138'), Decimal('0.7760831421244432447023889863679308948576')),
 ('Di Clemente', 'Représentant(e)', Decimal('8400'), Decimal('1.21229614663010535430798094963198152692'), Decimal('0.7085976515049264408152247266837629909569')),
 ('Bettan', 'Représentant(e)', Decimal('5500'), Decimal('0.7937653341030451724635589551161783807187'), Decimal('0.463962748009178026724254285328654339317')),
 ('Rivat', 'Représentant(e)', Decimal('5200'), Decimal('0.7504690431519699812382739212007504690432'), Decimal('0.4386556890268592252665676879470913753543')),
 ('Alvarez', 'Représentant(e)', Decimal('7200'), Decimal('1.03911098282580458940684081397026988021'), Decimal('0.607369415575651234984478337157511135106')),
 ('Jacquot', 'Représentant(e)', Decimal('8900'), Decimal('1.28445663154856400635012267282436137971'), Decimal('0.7507760831421244432447023889863679308949')),
 ('Dodsworth', 'Représentant(e)', Decimal('8800'), Decimal('1.27002453456487227594169432818588540915'), Decimal('0.7423403968146848427588068565258469429073')),
 ('Petit', 'Représentant(e)', Decimal('6300'), Decimal('0.9092221099725790157309857122239861451869'), Decimal('0.5314482386286948306114185450128222432177')),
 ('Canu', 'Représentant(e)', Decimal('5800'), Decimal('0.8370616250541203636888439890316062923943'), Decimal('0.4892698069914968281819408827102173032798')),
 ('Bazart', 'Représentant(e)', Decimal('8900'), Decimal('1.28445663154856400635012267282436137971'), Decimal('0.7507760831421244432447023889863679308949')),
 ('Barre', 'Représentant(e)', Decimal('8800'), Decimal('1.27002453456487227594169432818588540915'), Decimal('0.7423403968146848427588068565258469429073')),
 ('Mure', 'Représentant(e)', Decimal('8200'), Decimal('1.1834319526627218934911242603550295858'), Decimal('0.6917262788500472398434336617627210149818')),
 ('Jeandel', 'Représentant(e)', Decimal('9200'), Decimal('1.32775292249963919757540770673978929138'), Decimal('0.7760831421244432447023889863679308948576')),
 ('Aubry', 'Représentant(e)', Decimal('9500'), Decimal('1.37104921345071438880069274065521720306'), Decimal('0.8013902011067620461600755837494938588204')),
 ('Kessler', 'Représentant(e)', Decimal('6800'), Decimal('0.9813825948910376677731274354163659979795'), Decimal('0.5736266702658928330408962073154271831556')),
 ('Urbaniak', 'Représentant(e)', Decimal('7000'), Decimal('1.0102467888584211285899841246933179391'), Decimal('0.5904980429207720340126872722364691591308')),
 ('Griner', 'Représentant(e)', Decimal('8100'), Decimal('1.16899985567903016308269591571655361524'), Decimal('0.6832905925226076393575381293022000269942')),
 ('Bodard', 'Représentant(e)', Decimal('5500'), Decimal('0.7937653341030451724635589551161783807187'), Decimal('0.463962748009178026724254285328654339317')),
 ('Maillard', 'Représentant(e)', Decimal('6600'), Decimal('0.9525184009236542069562707461394140568625'), Decimal('0.5567552976110136320691051423943852071805')),
 ('Dupouey', 'Représentant(e)', Decimal('5500'), Decimal('0.7937653341030451724635589551161783807187'), Decimal('0.463962748009178026724254285328654339317')),
 ('Clement', 'Représentant(e)', Decimal('7200'), Decimal('1.03911098282580458940684081397026988021'), Decimal('0.607369415575651234984478337157511135106')),
 ('Brasseur', 'Vice-Président', Decimal('147000'), Decimal('60.49382716049382716049382716049382716049'), Decimal('12.40045890133621271426643271696585234175')),
 ('Fuller', 'Vice-Président', Decimal('96000'), Decimal('39.50617283950617283950617283950617283951'), Decimal('8.09825887434201646645971116210014846808'))]

In [15]:
%%sql
SELECT 
    PAYS, 
    ANNEE, 
    TRIMESTRE T, 
    SUM(PRIX_UNITAIRE*QUANTITE) CA,
    SUM(SUM(PRIX_UNITAIRE*QUANTITE)) OVER( PARTITION BY PAYS) "S Pays",
    SUM(SUM(PRIX_UNITAIRE*QUANTITE)) OVER( PARTITION BY ANNEE) "S Année"
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)  
     JOIN DETAILS_COMMANDES DC                 
        ON ( CO.NO_COMMANDE = DC.NO_COMMANDE)
GROUP BY PAYS, ANNEE, TRIMESTRE

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Allemagne', 2010, 3, Decimal('58831184.88'), Decimal('420063829.44'), Decimal('2019971906.04')),
 ('Allemagne', 2010, 1, Decimal('68206105.92'), Decimal('420063829.44'), Decimal('2019971906.04')),
 ('Allemagne', 2011, 2, Decimal('84152788.08'), Decimal('420063829.44'), Decimal('1403112413.76')),
 ('Allemagne', 2011, 1, 87169620, Decimal('420063829.44'), Decimal('1403112413.76')),
 ('Allemagne', 2010, 4, Decimal('55341073.56'), Decimal('420063829.44'), Decimal('2019971906.04')),
 ('Allemagne', 2010, 2, 66363057, Decimal('420063829.44'), Decimal('2019971906.04')),
 ('Argentine', 2010, 4, Decimal('16707964.8'), Decimal('112213361.64'), Decimal('2019971906.04')),
 ('Argentine', 2010, 1, Decimal('17302195.92'), Decimal('112213361.64'), Decimal('2019971906.04')),
 ('Argentine', 2010, 3, Decimal('14884703.52'), Decimal('112213361.64'), Decimal('2019971906.04')),
 ('Argentine', 2010, 2, Decimal('19789971.84'), Decimal('112213361.64'), Decimal('2019971906.04')),
 ('Argentine', 2011, 1, 19582983, Decimal('112213361.64'), Decimal('1403112413.76')),
 ('Argentine', 2011, 2, Decimal('23945542.56'), Decimal('112213361.64'), Decimal('1403112413.76')),
 ('Autriche', 2011, 1, Decimal('11397059.52'), Decimal('66663791.64'), Decimal('1403112413.76')),
 ('Autriche', 2011, 2, Decimal('12143732.28'), Decimal('66663791.64'), Decimal('1403112413.76')),
 ('Autriche', 2010, 3, Decimal('9692277.48'), Decimal('66663791.64'), Decimal('2019971906.04')),
 ('Autriche', 2010, 2, Decimal('9874601.64'), Decimal('66663791.64'), Decimal('2019971906.04')),
 ('Autriche', 2010, 4, Decimal('9226500.36'), Decimal('66663791.64'), Decimal('2019971906.04')),
 ('Autriche', 2010, 1, Decimal('14329620.36'), Decimal('66663791.64'), Decimal('2019971906.04')),
 ('Belgique', 2010, 4, Decimal('18014099.88'), Decimal('84490174.2'), Decimal('2019971906.04')),
 ('Belgique', 2010, 2, Decimal('12641255.76'), Decimal('84490174.2'), Decimal('2019971906.04')),
 ('Belgique', 2010, 1, Decimal('13136272.2'), Decimal('84490174.2'), Decimal('2019971906.04')),
 ('Belgique', 2010, 3, Decimal('10666597.92'), Decimal('84490174.2'), Decimal('2019971906.04')),
 ('Belgique', 2011, 1, Decimal('18068926.68'), Decimal('84490174.2'), Decimal('1403112413.76')),
 ('Belgique', 2011, 2, Decimal('11963021.76'), Decimal('84490174.2'), Decimal('1403112413.76')),
 ('Brésil', 2010, 2, Decimal('50438748.84'), Decimal('323767097.04'), Decimal('2019971906.04')),
 ('Brésil', 2010, 4, Decimal('53347765.32'), Decimal('323767097.04'), Decimal('2019971906.04')),
 ('Brésil', 2011, 2, 65755668, Decimal('323767097.04'), Decimal('1403112413.76')),
 ('Brésil', 2011, 1, Decimal('64649439.6'), Decimal('323767097.04'), Decimal('1403112413.76')),
 ('Brésil', 2010, 1, Decimal('45233023.8'), Decimal('323767097.04'), Decimal('2019971906.04')),
 ('Brésil', 2010, 3, Decimal('44342451.48'), Decimal('323767097.04'), Decimal('2019971906.04')),
 ('Canada', 2010, 4, Decimal('13300461.48'), Decimal('112298784.72'), Decimal('2019971906.04')),
 ('Canada', 2010, 2, Decimal('16236418.08'), Decimal('112298784.72'), Decimal('2019971906.04')),
 ('Canada', 2011, 2, Decimal('29193473.64'), Decimal('112298784.72'), Decimal('1403112413.76')),
 ('Canada', 2010, 3, Decimal('14357505.84'), Decimal('112298784.72'), Decimal('2019971906.04')),
 ('Canada', 2011, 1, Decimal('22615728.6'), Decimal('112298784.72'), Decimal('1403112413.76')),
 ('Canada', 2010, 1, Decimal('16595197.08'), Decimal('112298784.72'), Decimal('2019971906.04')),
 ('Danemark', 2010, 4, Decimal('9458149.08'), Decimal('74923346.76'), Decimal('2019971906.04')),
 ('Danemark', 2010, 2, Decimal('13897669.32'), Decimal('74923346.76'), Decimal('2019971906.04')),
 ('Danemark', 2011, 1, Decimal('19248324.48'), Decimal('74923346.76'), Decimal('1403112413.76')),
 ('Danemark', 2010, 3, Decimal('9366743.16'), Decimal('74923346.76'), Decimal('2019971906.04')),
 ('Danemark', 2011, 2, Decimal('13807065.36'), Decimal('74923346.76'), Decimal('1403112413.76')),
 ('Danemark', 2010, 1, Decimal('9145395.36'), Decimal('74923346.76'), Decimal('2019971906.04')),
 ('Espagne', 2011, 2, Decimal('38664637.56'), Decimal('192416610.96'), Decimal('1403112413.76')),
 ('Espagne', 2010, 2, Decimal('29567433.6'), Decimal('192416610.96'), Decimal('2019971906.04')),
 ('Espagne', 2011, 1, 42386637, Decimal('192416610.96'), Decimal('1403112413.76')),
 ('Espagne', 2010, 3, Decimal('27559549.32'), Decimal('192416610.96'), Decimal('2019971906.04')),
 ('Espagne', 2010, 1, Decimal('27576530.28'), Decimal('192416610.96'), Decimal('2019971906.04')),
 ('Espagne', 2010, 4, Decimal('26661823.2'), Decimal('192416610.96'), Decimal('2019971906.04')),
 ('États-Unis', 2011, 2, Decimal('107435375.64'), Decimal('490165124.28'), Decimal('1403112413.76')),
 ('États-Unis', 2011, 1, Decimal('87140262.84'), Decimal('490165124.28'), Decimal('1403112413.76')),
 ('États-Unis', 2010, 3, Decimal('76946367.6'), Decimal('490165124.28'), Decimal('2019971906.04')),
 ('États-Unis', 2010, 2, Decimal('70840946.76'), Decimal('490165124.28'), Decimal('2019971906.04')),
 ('États-Unis', 2010, 1, Decimal('69114977.4'), Decimal('490165124.28'), Decimal('2019971906.04')),
 ('États-Unis', 2010, 4, Decimal('78687194.04'), Decimal('490165124.28'), Decimal('2019971906.04')),
 ('Finlande', 2010, 4, Decimal('12773072.28'), Decimal('76080943.8'), Decimal('2019971906.04')),
 ('Finlande', 2011, 2, Decimal('13934970.12'), Decimal('76080943.8'), Decimal('1403112413.76')),
 ('Finlande', 2011, 1, Decimal('12721569.36'), Decimal('76080943.8'), Decimal('1403112413.76')),
 ('Finlande', 2010, 3, Decimal('15188778.6'), Decimal('76080943.8'), Decimal('2019971906.04')),
 ('Finlande', 2010, 1, Decimal('10248509.28'), Decimal('76080943.8'), Decimal('2019971906.04')),
 ('Finlande', 2010, 2, Decimal('11214044.16'), Decimal('76080943.8'), Decimal('2019971906.04')),
 ('France', 2011, 2, Decimal('95462448.12'), Decimal('421885955.04'), Decimal('1403112413.76')),
 ('France', 2010, 3, Decimal('61218497.16'), Decimal('421885955.04'), Decimal('2019971906.04')),
 ('France', 2011, 1, Decimal('81949476.72'), Decimal('421885955.04'), Decimal('1403112413.76')),
 ('France', 2010, 1, Decimal('60767879.64'), Decimal('421885955.04'), Decimal('2019971906.04')),
 ('France', 2010, 2, Decimal('61776341.04'), Decimal('421885955.04'), Decimal('2019971906.04')),
 ('France', 2010, 4, Decimal('60711312.36'), Decimal('421885955.04'), Decimal('2019971906.04')),
 ('Irlande', 2010, 3, Decimal('5933156.4'), Decimal('41055246.48'), Decimal('2019971906.04')),
 ('Irlande', 2011, 1, Decimal('8555787.6'), Decimal('41055246.48'), Decimal('1403112413.76')),
 ('Irlande', 2011, 2, Decimal('9959685.36'), Decimal('41055246.48'), Decimal('1403112413.76')),
 ('Irlande', 2010, 4, Decimal('6746365.08'), Decimal('41055246.48'), Decimal('2019971906.04')),
 ('Irlande', 2010, 2, Decimal('4849811.04'), Decimal('41055246.48'), Decimal('2019971906.04')),
 ('Irlande', 2010, 1, 5010441, Decimal('41055246.48'), Decimal('2019971906.04')),
 ('Italie', 2011, 1, Decimal('21799167.48'), Decimal('101182135.08'), Decimal('1403112413.76')),
 ('Italie', 2011, 2, Decimal('20764003.68'), Decimal('101182135.08'), Decimal('1403112413.76')),
 ('Italie', 2010, 1, Decimal('14415191.28'), Decimal('101182135.08'), Decimal('2019971906.04')),
 ('Italie', 2010, 4, Decimal('15223098.36'), Decimal('101182135.08'), Decimal('2019971906.04')),
 ('Italie', 2010, 3, Decimal('14995751.4'), Decimal('101182135.08'), Decimal('2019971906.04')),
 ('Italie', 2010, 2, Decimal('13984922.88'), Decimal('101182135.08'), Decimal('2019971906.04')),
 ('Mexique', 2010, 2, Decimal('27905794.08'), Decimal('186804259.44'), Decimal('2019971906.04')),
 ('Mexique', 2010, 1, Decimal('25379117.28'), Decimal('186804259.44'), Decimal('2019971906.04')),
 ('Mexique', 2010, 3, Decimal('29568485.76'), Decimal('186804259.44'), Decimal('2019971906.04')),
 ('Mexique', 2010, 4, 31627740, Decimal('186804259.44'), Decimal('2019971906.04')),
 ('Mexique', 2011, 2, Decimal('38830654.44'), Decimal('186804259.44'), Decimal('1403112413.76')),
 ('Mexique', 2011, 1, Decimal('33492467.88'), Decimal('186804259.44'), Decimal('1403112413.76')),
 ('Norvège', 2010, 4, Decimal('4626575.76'), Decimal('35484254.04'), Decimal('2019971906.04')),
 ('Norvège', 2011, 1, Decimal('9537825.72'), Decimal('35484254.04'), Decimal('1403112413.76')),
 ('Norvège', 2010, 2, Decimal('2357243.28'), Decimal('35484254.04'), Decimal('2019971906.04')),
 ('Norvège', 2010, 1, Decimal('5327018.16'), Decimal('35484254.04'), Decimal('2019971906.04')),
 ('Norvège', 2010, 3, Decimal('4051611.96'), Decimal('35484254.04'), Decimal('2019971906.04')),
 ('Norvège', 2011, 2, Decimal('9583979.16'), Decimal('35484254.04'), Decimal('1403112413.76')),
 ('Pologne', 2010, 3, Decimal('8441237.16'), Decimal('27404181.24'), Decimal('2019971906.04')),
 ('Pologne', 2010, 1, Decimal('3342951.24'), Decimal('27404181.24'), Decimal('2019971906.04')),
 ('Pologne', 2010, 2, Decimal('2737350.72'), Decimal('27404181.24'), Decimal('2019971906.04')),
 ('Pologne', 2010, 4, Decimal('2417994.12'), Decimal('27404181.24'), Decimal('2019971906.04')),
 ('Pologne', 2011, 2, Decimal('4736472.36'), Decimal('27404181.24'), Decimal('1403112413.76')),
 ('Pologne', 2011, 1, Decimal('5728175.64'), Decimal('27404181.24'), Decimal('1403112413.76')),
 ('Portugal', 2011, 2, Decimal('15352624.56'), Decimal('73492075.68'), Decimal('1403112413.76')),
 ('Portugal', 2011, 1, Decimal('21508250.04'), Decimal('73492075.68'), Decimal('1403112413.76')),
 ('Portugal', 2010, 3, Decimal('10014585.24'), Decimal('73492075.68'), Decimal('2019971906.04')),
 ('Portugal', 2010, 4, Decimal('7531523.16'), Decimal('73492075.68'), Decimal('2019971906.04')),
 ('Portugal', 2010, 2, Decimal('9570212.64'), Decimal('73492075.68'), Decimal('2019971906.04')),
 ('Portugal', 2010, 1, Decimal('9514880.04'), Decimal('73492075.68'), Decimal('2019971906.04')),
 ('Royaume-Uni', 2010, 2, Decimal('35877173.04'), Decimal('285248269.2'), Decimal('2019971906.04')),
 ('Royaume-Uni', 2010, 3, Decimal('48094328.28'), Decimal('285248269.2'), Decimal('2019971906.04')),
 ('Royaume-Uni', 2011, 2, Decimal('49958032.32'), Decimal('285248269.2'), Decimal('1403112413.76')),
 ('Royaume-Uni', 2010, 1, Decimal('43400469.36'), Decimal('285248269.2'), Decimal('2019971906.04')),
 ('Royaume-Uni', 2011, 1, Decimal('62627916.84'), Decimal('285248269.2'), Decimal('1403112413.76')),
 ('Royaume-Uni', 2010, 4, Decimal('45290349.36'), Decimal('285248269.2'), Decimal('2019971906.04')),
 ('Suède', 2010, 2, 7179378, Decimal('79723558.68'), Decimal('2019971906.04')),
 ('Suède', 2010, 1, Decimal('9648001.92'), Decimal('79723558.68'), Decimal('2019971906.04')),
 ('Suède', 2010, 3, Decimal('11664285.72'), Decimal('79723558.68'), Decimal('2019971906.04')),
 ('Suède', 2010, 4, Decimal('19226934.12'), Decimal('79723558.68'), Decimal('2019971906.04')),
 ('Suède', 2011, 1, Decimal('19726977.48'), Decimal('79723558.68'), Decimal('1403112413.76')),
 ('Suède', 2011, 2, Decimal('12277981.44'), Decimal('79723558.68'), Decimal('1403112413.76')),
 ('Suisse', 2010, 3, Decimal('13508505.72'), Decimal('74877918.72'), Decimal('2019971906.04')),
 ('Suisse', 2010, 2, Decimal('12891916.68'), Decimal('74877918.72'), Decimal('2019971906.04')),
 ('Suisse', 2010, 1, Decimal('9525672.48'), Decimal('74877918.72'), Decimal('2019971906.04')),
 ('Suisse', 2011, 2, Decimal('15692749.32'), Decimal('74877918.72'), Decimal('1403112413.76')),
 ('Suisse', 2011, 1, Decimal('14177086.8'), Decimal('74877918.72'), Decimal('1403112413.76')),
 ('Suisse', 2010, 4, Decimal('9081987.72'), Decimal('74877918.72'), Decimal('2019971906.04')),
 ('Venezuela', 2011, 1, Decimal('36950883.24'), Decimal('142843401.72'), Decimal('1403112413.76')),
 ('Venezuela', 2010, 3, Decimal('20713719.84'), Decimal('142843401.72'), Decimal('2019971906.04')),
 ('Venezuela', 2010, 4, 18970395, Decimal('142843401.72'), Decimal('2019971906.04')),
 ('Venezuela', 2010, 2, Decimal('18879692.76'), Decimal('142843401.72'), Decimal('2019971906.04')),
 ('Venezuela', 2011, 2, Decimal('28462941.48'), Decimal('142843401.72'), Decimal('1403112413.76')),
 ('Venezuela', 2010, 1, Decimal('18865769.4'), Decimal('142843401.72'), Decimal('2019971906.04'))]

# La clause d’ordre

<img src="https://raw.githubusercontent.com/rbizoi/IntelligenceEnDonneesDeSante/main/InterrogationSQL/images/M06-11.png" width="400">

In [17]:
%%sql 
SELECT 
    CL.SOCIETE, 
    CO.DATE_COMMANDE, 
    CO.PORT P,
    SUM(CO.PORT) OVER ( PARTITION BY CO.CODE_CLIENT ORDER BY CO.DATE_COMMANDE) SCC,
    SUM(CO.PORT) OVER ( ORDER BY CO.CODE_CLIENT, CO.DATE_COMMANDE)  SCT
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)        
WHERE ANNEE = 2011 AND MOIS = 5 AND PAYS = 'France'

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Blondel père et fils', datetime.datetime(2011, 5, 12, 0, 0), Decimal('56'), 56, 56),
 ('Blondel père et fils', datetime.datetime(2011, 5, 13, 0, 0), Decimal('71.5'), Decimal('127.5'), Decimal('127.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 15, 0, 0), Decimal('90'), Decimal('217.5'), Decimal('217.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 16, 0, 0), Decimal('51.9'), Decimal('269.4'), Decimal('269.4')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 17, 0, 0), Decimal('83.5'), Decimal('352.9'), Decimal('352.9')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 19, 0, 0), Decimal('78.3'), Decimal('431.2'), Decimal('431.2')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 20, 0, 0), Decimal('76.3'), Decimal('507.5'), Decimal('507.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 21, 0, 0), Decimal('85.3'), Decimal('592.8'), Decimal('592.8')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 22, 0, 0), Decimal('83.7'), Decimal('676.5'), Decimal('676.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 23, 0, 0), Decimal('80.2'), Decimal('756.7'), Decimal('756.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 24, 0, 0), Decimal('67.7'), Decimal('824.4'), Decimal('824.4')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 25, 0, 0), Decimal('89.9'), Decimal('914.3'), Decimal('914.3')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 26, 0, 0), Decimal('83.7'), 998, 998),
 ('Blondel père et fils', datetime.datetime(2011, 5, 27, 0, 0), Decimal('67.8'), Decimal('1065.8'), Decimal('1065.8')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 29, 0, 0), Decimal('54.9'), Decimal('1120.7'), Decimal('1120.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 30, 0, 0), Decimal('93.1'), Decimal('1213.8'), Decimal('1213.8')),
 ("Bon app'", datetime.datetime(2011, 5, 1, 0, 0), Decimal('90.4'), Decimal('90.4'), Decimal('1304.2')),
 ("Bon app'", datetime.datetime(2011, 5, 2, 0, 0), Decimal('67.5'), Decimal('157.9'), Decimal('1371.7')),
 ("Bon app'", datetime.datetime(2011, 5, 3, 0, 0), Decimal('56.8'), Decimal('214.7'), Decimal('1428.5')),
 ("Bon app'", datetime.datetime(2011, 5, 4, 0, 0), Decimal('91.1'), Decimal('305.8'), Decimal('1519.6')),
 ("Bon app'", datetime.datetime(2011, 5, 5, 0, 0), Decimal('70.3'), Decimal('376.1'), Decimal('1589.9')),
 ("Bon app'", datetime.datetime(2011, 5, 6, 0, 0), Decimal('89.1'), Decimal('465.2'), 1679),
 ("Bon app'", datetime.datetime(2011, 5, 7, 0, 0), Decimal('56.2'), Decimal('521.4'), Decimal('1735.2')),
 ("Bon app'", datetime.datetime(2011, 5, 8, 0, 0), Decimal('67'), Decimal('588.4'), Decimal('1802.2')),
 ("Bon app'", datetime.datetime(2011, 5, 9, 0, 0), Decimal('93.4'), Decimal('681.8'), Decimal('1895.6')),
 ("Bon app'", datetime.datetime(2011, 5, 10, 0, 0), Decimal('72.8'), Decimal('754.6'), Decimal('1968.4')),
 ("Bon app'", datetime.datetime(2011, 5, 11, 0, 0), Decimal('67.6'), Decimal('822.2'), 2036),
 ("Bon app'", datetime.datetime(2011, 5, 12, 0, 0), Decimal('55.7'), Decimal('877.9'), Decimal('2091.7')),
 ("Bon app'", datetime.datetime(2011, 5, 13, 0, 0), Decimal('72.8'), Decimal('950.7'), Decimal('2164.5')),
 ("Bon app'", datetime.datetime(2011, 5, 14, 0, 0), Decimal('79.8'), Decimal('1030.5'), Decimal('2244.3')),
 ("Bon app'", datetime.datetime(2011, 5, 15, 0, 0), Decimal('56.5'), 1087, Decimal('2300.8')),
 ("Bon app'", datetime.datetime(2011, 5, 16, 0, 0), Decimal('51.4'), Decimal('1138.4'), Decimal('2352.2')),
 ("Bon app'", datetime.datetime(2011, 5, 17, 0, 0), Decimal('59.6'), 1198, Decimal('2411.8')),
 ("Bon app'", datetime.datetime(2011, 5, 18, 0, 0), Decimal('66.3'), Decimal('1264.3'), Decimal('2478.1')),
 ("Bon app'", datetime.datetime(2011, 5, 19, 0, 0), Decimal('92.4'), Decimal('1356.7'), Decimal('2570.5')),
 ("Bon app'", datetime.datetime(2011, 5, 20, 0, 0), Decimal('62.2'), Decimal('1418.9'), Decimal('2632.7')),
 ('Du monde entier', datetime.datetime(2011, 5, 16, 0, 0), Decimal('99.4'), Decimal('99.4'), Decimal('2732.1')),
 ('Du monde entier', datetime.datetime(2011, 5, 17, 0, 0), Decimal('83.1'), Decimal('182.5'), Decimal('2815.2')),
 ('Du monde entier', datetime.datetime(2011, 5, 18, 0, 0), Decimal('99.6'), Decimal('282.1'), Decimal('2914.8')),
 ('Du monde entier', datetime.datetime(2011, 5, 19, 0, 0), Decimal('79.4'), Decimal('361.5'), Decimal('2994.2')),
 ('Du monde entier', datetime.datetime(2011, 5, 20, 0, 0), Decimal('58.8'), Decimal('420.3'), 3053),
 ('Du monde entier', datetime.datetime(2011, 5, 31, 0, 0), Decimal('96.5'), Decimal('516.8'), Decimal('3149.5')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 1, 0, 0), Decimal('95'), 95, Decimal('3244.5')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 2, 0, 0), Decimal('98.9'), Decimal('193.9'), Decimal('3343.4')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 3, 0, 0), Decimal('77.2'), Decimal('271.1'), Decimal('3420.6')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 4, 0, 0), Decimal('57.1'), Decimal('328.2'), Decimal('3477.7')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 5, 0, 0), Decimal('60.1'), Decimal('388.3'), Decimal('3537.8')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 6, 0, 0), Decimal('66.6'), Decimal('454.9'), Decimal('3604.4')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 7, 0, 0), Decimal('92'), Decimal('546.9'), Decimal('3696.4')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 8, 0, 0), Decimal('78.5'), Decimal('625.4'), Decimal('3774.9')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 9, 0, 0), Decimal('83.6'), 709, Decimal('3858.5')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 10, 0, 0), Decimal('57.8'), Decimal('766.8'), Decimal('3916.3')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 11, 0, 0), Decimal('99.9'), Decimal('866.7'), Decimal('4016.2')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 21, 0, 0), Decimal('68.9'), Decimal('935.6'), Decimal('4085.1')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 22, 0, 0), Decimal('62.1'), Decimal('997.7'), Decimal('4147.2')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 23, 0, 0), Decimal('84.8'), Decimal('1082.5'), 4232),
 ('Folies gourmandes', datetime.datetime(2011, 5, 24, 0, 0), Decimal('91.6'), Decimal('1174.1'), Decimal('4323.6')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 25, 0, 0), Decimal('90.7'), Decimal('1264.8'), Decimal('4414.3')),
 ('France restauration', datetime.datetime(2011, 5, 8, 0, 0), Decimal('97.5'), Decimal('97.5'), Decimal('4511.8')),
 ('France restauration', datetime.datetime(2011, 5, 9, 0, 0), Decimal('76.1'), Decimal('173.6'), Decimal('4587.9')),
 ('France restauration', datetime.datetime(2011, 5, 10, 0, 0), Decimal('85.6'), Decimal('259.2'), Decimal('4673.5')),
 ('France restauration', datetime.datetime(2011, 5, 11, 0, 0), Decimal('69.9'), Decimal('329.1'), Decimal('4743.4')),
 ('France restauration', datetime.datetime(2011, 5, 17, 0, 0), Decimal('63.5'), Decimal('392.6'), Decimal('4806.9')),
 ('France restauration', datetime.datetime(2011, 5, 18, 0, 0), Decimal('90.5'), Decimal('483.1'), Decimal('4897.4')),
 ('France restauration', datetime.datetime(2011, 5, 19, 0, 0), Decimal('50.9'), 534, Decimal('4948.3')),
 ('France restauration', datetime.datetime(2011, 5, 20, 0, 0), Decimal('55.7'), Decimal('589.7'), 5004),
 ("La corne d'abondance", datetime.datetime(2011, 5, 1, 0, 0), Decimal('81.2'), Decimal('81.2'), Decimal('5085.2')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 2, 0, 0), Decimal('78.3'), Decimal('159.5'), Decimal('5163.5')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 3, 0, 0), Decimal('62.1'), Decimal('221.6'), Decimal('5225.6')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 4, 0, 0), Decimal('69.1'), Decimal('290.7'), Decimal('5294.7')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 5, 0, 0), Decimal('88.3'), 379, 5383),
 ("La corne d'abondance", datetime.datetime(2011, 5, 6, 0, 0), Decimal('98.8'), Decimal('477.8'), Decimal('5481.8')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 7, 0, 0), Decimal('59.7'), Decimal('537.5'), Decimal('5541.5')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 26, 0, 0), Decimal('82.4'), Decimal('619.9'), Decimal('5623.9')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 29, 0, 0), Decimal('78.5'), Decimal('698.4'), Decimal('5702.4')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 30, 0, 0), Decimal('83.8'), Decimal('782.2'), Decimal('5786.2')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 31, 0, 0), Decimal('92'), Decimal('874.2'), Decimal('5878.2')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 1, 0, 0), Decimal('60.2'), Decimal('60.2'), Decimal('5938.4')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 2, 0, 0), Decimal('77.3'), Decimal('137.5'), Decimal('6015.7')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 3, 0, 0), Decimal('53.2'), Decimal('190.7'), Decimal('6068.9')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 4, 0, 0), Decimal('58.2'), Decimal('248.9'), Decimal('6127.1')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 5, 0, 0), Decimal('62.6'), Decimal('311.5'), Decimal('6189.7')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 6, 0, 0), Decimal('53.1'), Decimal('364.6'), Decimal('6242.8')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 7, 0, 0), Decimal('69.6'), Decimal('434.2'), Decimal('6312.4')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 16, 0, 0), Decimal('93.5'), Decimal('527.7'), Decimal('6405.9')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 17, 0, 0), Decimal('67.3'), 595, Decimal('6473.2')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 18, 0, 0), Decimal('83.7'), Decimal('678.7'), Decimal('6556.9')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 19, 0, 0), Decimal('55.4'), Decimal('734.1'), Decimal('6612.3')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 20, 0, 0), Decimal('74.8'), Decimal('808.9'), Decimal('6687.1')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 26, 0, 0), Decimal('92.9'), Decimal('901.8'), 6780),
 ("La maison d'Asie", datetime.datetime(2011, 5, 27, 0, 0), Decimal('86.8'), Decimal('988.6'), Decimal('6866.8')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 28, 0, 0), Decimal('90.1'), Decimal('1078.7'), Decimal('6956.9')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 29, 0, 0), Decimal('94'), Decimal('1172.7'), Decimal('7050.9')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 30, 0, 0), Decimal('75'), Decimal('1247.7'), Decimal('7125.9')),
 ('Paris spécialités', datetime.datetime(2011, 5, 12, 0, 0), Decimal('76.1'), Decimal('76.1'), 7202),
 ('Paris spécialités', datetime.datetime(2011, 5, 13, 0, 0), Decimal('80.5'), Decimal('156.6'), Decimal('7282.5')),
 ('Paris spécialités', datetime.datetime(2011, 5, 14, 0, 0), Decimal('56.1'), Decimal('212.7'), Decimal('7338.6')),
 ('Paris spécialités', datetime.datetime(2011, 5, 15, 0, 0), Decimal('56.2'), Decimal('268.9'), Decimal('7394.8')),
 ('Paris spécialités', datetime.datetime(2011, 5, 16, 0, 0), Decimal('88.6'), Decimal('357.5'), Decimal('7483.4')),
 ('Paris spécialités', datetime.datetime(2011, 5, 18, 0, 0), Decimal('50.6'), Decimal('408.1'), 7534),
 ('Paris spécialités', datetime.datetime(2011, 5, 19, 0, 0), Decimal('78.1'), Decimal('486.2'), Decimal('7612.1')),
 ('Paris spécialités', datetime.datetime(2011, 5, 20, 0, 0), Decimal('62.7'), Decimal('548.9'), Decimal('7674.8')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 1, 0, 0), Decimal('50.8'), Decimal('50.8'), Decimal('7725.6')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 2, 0, 0), Decimal('80.6'), Decimal('131.4'), Decimal('7806.2')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 3, 0, 0), Decimal('50.2'), Decimal('181.6'), Decimal('7856.4')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 5, 0, 0), Decimal('52.5'), Decimal('234.1'), Decimal('7908.9')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 6, 0, 0), Decimal('61.7'), Decimal('295.8'), Decimal('7970.6')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 10, 0, 0), Decimal('59'), Decimal('354.8'), Decimal('8029.6')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 11, 0, 0), Decimal('52.3'), Decimal('407.1'), Decimal('8081.9')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 26, 0, 0), Decimal('84'), Decimal('491.1'), Decimal('8165.9')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 27, 0, 0), Decimal('95.6'), Decimal('586.7'), Decimal('8261.5')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 28, 0, 0), Decimal('86.4'), Decimal('673.1'), Decimal('8347.9')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 30, 0, 0), Decimal('91.9'), 765, Decimal('8439.8')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 31, 0, 0), Decimal('78'), 843, Decimal('8517.8')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 1, 0, 0), Decimal('95.6'), Decimal('95.6'), Decimal('8613.4')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 2, 0, 0), Decimal('89.1'), Decimal('184.7'), Decimal('8702.5')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 3, 0, 0), Decimal('72.4'), Decimal('257.1'), Decimal('8774.9')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 4, 0, 0), Decimal('78.8'), Decimal('335.9'), Decimal('8853.7')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 5, 0, 0), Decimal('94.5'), Decimal('430.4'), Decimal('8948.2')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 6, 0, 0), Decimal('57.4'), Decimal('487.8'), Decimal('9005.6')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 8, 0, 0), Decimal('55.9'), Decimal('543.7'), Decimal('9061.5')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 9, 0, 0), Decimal('64.4'), Decimal('608.1'), Decimal('9125.9')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 10, 0, 0), Decimal('96.1'), Decimal('704.2'), 9222),
 ('Victuailles en stock', datetime.datetime(2011, 5, 11, 0, 0), Decimal('89.2'), Decimal('793.4'), Decimal('9311.2')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 21, 0, 0), Decimal('86.6'), 880, Decimal('9397.8')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 22, 0, 0), Decimal('69.8'), Decimal('949.8'), Decimal('9467.6')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 23, 0, 0), Decimal('59.4'), Decimal('1009.2'), 9527),
 ('Victuailles en stock', datetime.datetime(2011, 5, 24, 0, 0), Decimal('81.3'), Decimal('1090.5'), Decimal('9608.3')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 25, 0, 0), Decimal('73.1'), Decimal('1163.6'), Decimal('9681.4')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 31, 0, 0), Decimal('95.3'), Decimal('1258.9'), Decimal('9776.7')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 9, 0, 0), Decimal('84.8'), Decimal('84.8'), Decimal('9861.5')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 10, 0, 0), Decimal('85.8'), Decimal('170.6'), Decimal('9947.3')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 11, 0, 0), Decimal('92.4'), 263, Decimal('10039.7')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 12, 0, 0), Decimal('73.7'), Decimal('336.7'), Decimal('10113.4')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 13, 0, 0), Decimal('98.3'), 435, Decimal('10211.7')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 14, 0, 0), Decimal('73.9'), Decimal('508.9'), Decimal('10285.6')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 15, 0, 0), Decimal('69.3'), Decimal('578.2'), Decimal('10354.9'))]

# La clause de fenêtrage

<img src="https://raw.githubusercontent.com/rbizoi/IntelligenceEnDonneesDeSante/main/InterrogationSQL/images/M06-12.png" width="400">

In [27]:
%%sql 
SELECT 
    CL.SOCIETE, 
    CO.DATE_COMMANDE, 
    CO.PORT P,
    SUM(CO.PORT) OVER ( PARTITION BY CO.CODE_CLIENT 
                        ORDER BY CO.DATE_COMMANDE
                        ROWS BETWEEN 1 PRECEDING AND 1 PRECEDING )  C01,
    SUM(CO.PORT) OVER ( PARTITION BY CO.CODE_CLIENT 
                        ORDER BY CO.DATE_COMMANDE
                        ROWS BETWEEN 1 FOLLOWING AND 1 FOLLOWING )  C02
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)        
WHERE ANNEE = 2011 AND MOIS = 5 AND PAYS = 'France'

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Blondel père et fils', datetime.datetime(2011, 5, 12, 0, 0), Decimal('56'), None, Decimal('71.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 13, 0, 0), Decimal('71.5'), 56, 90),
 ('Blondel père et fils', datetime.datetime(2011, 5, 15, 0, 0), Decimal('90'), Decimal('71.5'), Decimal('51.9')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 16, 0, 0), Decimal('51.9'), 90, Decimal('83.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 17, 0, 0), Decimal('83.5'), Decimal('51.9'), Decimal('78.3')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 19, 0, 0), Decimal('78.3'), Decimal('83.5'), Decimal('76.3')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 20, 0, 0), Decimal('76.3'), Decimal('78.3'), Decimal('85.3')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 21, 0, 0), Decimal('85.3'), Decimal('76.3'), Decimal('83.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 22, 0, 0), Decimal('83.7'), Decimal('85.3'), Decimal('80.2')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 23, 0, 0), Decimal('80.2'), Decimal('83.7'), Decimal('67.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 24, 0, 0), Decimal('67.7'), Decimal('80.2'), Decimal('89.9')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 25, 0, 0), Decimal('89.9'), Decimal('67.7'), Decimal('83.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 26, 0, 0), Decimal('83.7'), Decimal('89.9'), Decimal('67.8')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 27, 0, 0), Decimal('67.8'), Decimal('83.7'), Decimal('54.9')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 29, 0, 0), Decimal('54.9'), Decimal('67.8'), Decimal('93.1')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 30, 0, 0), Decimal('93.1'), Decimal('54.9'), None),
 ("Bon app'", datetime.datetime(2011, 5, 1, 0, 0), Decimal('90.4'), None, Decimal('67.5')),
 ("Bon app'", datetime.datetime(2011, 5, 2, 0, 0), Decimal('67.5'), Decimal('90.4'), Decimal('56.8')),
 ("Bon app'", datetime.datetime(2011, 5, 3, 0, 0), Decimal('56.8'), Decimal('67.5'), Decimal('91.1')),
 ("Bon app'", datetime.datetime(2011, 5, 4, 0, 0), Decimal('91.1'), Decimal('56.8'), Decimal('70.3')),
 ("Bon app'", datetime.datetime(2011, 5, 5, 0, 0), Decimal('70.3'), Decimal('91.1'), Decimal('89.1')),
 ("Bon app'", datetime.datetime(2011, 5, 6, 0, 0), Decimal('89.1'), Decimal('70.3'), Decimal('56.2')),
 ("Bon app'", datetime.datetime(2011, 5, 7, 0, 0), Decimal('56.2'), Decimal('89.1'), 67),
 ("Bon app'", datetime.datetime(2011, 5, 8, 0, 0), Decimal('67'), Decimal('56.2'), Decimal('93.4')),
 ("Bon app'", datetime.datetime(2011, 5, 9, 0, 0), Decimal('93.4'), 67, Decimal('72.8')),
 ("Bon app'", datetime.datetime(2011, 5, 10, 0, 0), Decimal('72.8'), Decimal('93.4'), Decimal('67.6')),
 ("Bon app'", datetime.datetime(2011, 5, 11, 0, 0), Decimal('67.6'), Decimal('72.8'), Decimal('55.7')),
 ("Bon app'", datetime.datetime(2011, 5, 12, 0, 0), Decimal('55.7'), Decimal('67.6'), Decimal('72.8')),
 ("Bon app'", datetime.datetime(2011, 5, 13, 0, 0), Decimal('72.8'), Decimal('55.7'), Decimal('79.8')),
 ("Bon app'", datetime.datetime(2011, 5, 14, 0, 0), Decimal('79.8'), Decimal('72.8'), Decimal('56.5')),
 ("Bon app'", datetime.datetime(2011, 5, 15, 0, 0), Decimal('56.5'), Decimal('79.8'), Decimal('51.4')),
 ("Bon app'", datetime.datetime(2011, 5, 16, 0, 0), Decimal('51.4'), Decimal('56.5'), Decimal('59.6')),
 ("Bon app'", datetime.datetime(2011, 5, 17, 0, 0), Decimal('59.6'), Decimal('51.4'), Decimal('66.3')),
 ("Bon app'", datetime.datetime(2011, 5, 18, 0, 0), Decimal('66.3'), Decimal('59.6'), Decimal('92.4')),
 ("Bon app'", datetime.datetime(2011, 5, 19, 0, 0), Decimal('92.4'), Decimal('66.3'), Decimal('62.2')),
 ("Bon app'", datetime.datetime(2011, 5, 20, 0, 0), Decimal('62.2'), Decimal('92.4'), None),
 ('Du monde entier', datetime.datetime(2011, 5, 16, 0, 0), Decimal('99.4'), None, Decimal('83.1')),
 ('Du monde entier', datetime.datetime(2011, 5, 17, 0, 0), Decimal('83.1'), Decimal('99.4'), Decimal('99.6')),
 ('Du monde entier', datetime.datetime(2011, 5, 18, 0, 0), Decimal('99.6'), Decimal('83.1'), Decimal('79.4')),
 ('Du monde entier', datetime.datetime(2011, 5, 19, 0, 0), Decimal('79.4'), Decimal('99.6'), Decimal('58.8')),
 ('Du monde entier', datetime.datetime(2011, 5, 20, 0, 0), Decimal('58.8'), Decimal('79.4'), Decimal('96.5')),
 ('Du monde entier', datetime.datetime(2011, 5, 31, 0, 0), Decimal('96.5'), Decimal('58.8'), None),
 ('Folies gourmandes', datetime.datetime(2011, 5, 1, 0, 0), Decimal('95'), None, Decimal('98.9')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 2, 0, 0), Decimal('98.9'), 95, Decimal('77.2')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 3, 0, 0), Decimal('77.2'), Decimal('98.9'), Decimal('57.1')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 4, 0, 0), Decimal('57.1'), Decimal('77.2'), Decimal('60.1')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 5, 0, 0), Decimal('60.1'), Decimal('57.1'), Decimal('66.6')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 6, 0, 0), Decimal('66.6'), Decimal('60.1'), 92),
 ('Folies gourmandes', datetime.datetime(2011, 5, 7, 0, 0), Decimal('92'), Decimal('66.6'), Decimal('78.5')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 8, 0, 0), Decimal('78.5'), 92, Decimal('83.6')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 9, 0, 0), Decimal('83.6'), Decimal('78.5'), Decimal('57.8')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 10, 0, 0), Decimal('57.8'), Decimal('83.6'), Decimal('99.9')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 11, 0, 0), Decimal('99.9'), Decimal('57.8'), Decimal('68.9')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 21, 0, 0), Decimal('68.9'), Decimal('99.9'), Decimal('62.1')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 22, 0, 0), Decimal('62.1'), Decimal('68.9'), Decimal('84.8')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 23, 0, 0), Decimal('84.8'), Decimal('62.1'), Decimal('91.6')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 24, 0, 0), Decimal('91.6'), Decimal('84.8'), Decimal('90.7')),
 ('Folies gourmandes', datetime.datetime(2011, 5, 25, 0, 0), Decimal('90.7'), Decimal('91.6'), None),
 ('France restauration', datetime.datetime(2011, 5, 8, 0, 0), Decimal('97.5'), None, Decimal('76.1')),
 ('France restauration', datetime.datetime(2011, 5, 9, 0, 0), Decimal('76.1'), Decimal('97.5'), Decimal('85.6')),
 ('France restauration', datetime.datetime(2011, 5, 10, 0, 0), Decimal('85.6'), Decimal('76.1'), Decimal('69.9')),
 ('France restauration', datetime.datetime(2011, 5, 11, 0, 0), Decimal('69.9'), Decimal('85.6'), Decimal('63.5')),
 ('France restauration', datetime.datetime(2011, 5, 17, 0, 0), Decimal('63.5'), Decimal('69.9'), Decimal('90.5')),
 ('France restauration', datetime.datetime(2011, 5, 18, 0, 0), Decimal('90.5'), Decimal('63.5'), Decimal('50.9')),
 ('France restauration', datetime.datetime(2011, 5, 19, 0, 0), Decimal('50.9'), Decimal('90.5'), Decimal('55.7')),
 ('France restauration', datetime.datetime(2011, 5, 20, 0, 0), Decimal('55.7'), Decimal('50.9'), None),
 ("La corne d'abondance", datetime.datetime(2011, 5, 1, 0, 0), Decimal('81.2'), None, Decimal('78.3')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 2, 0, 0), Decimal('78.3'), Decimal('81.2'), Decimal('62.1')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 3, 0, 0), Decimal('62.1'), Decimal('78.3'), Decimal('69.1')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 4, 0, 0), Decimal('69.1'), Decimal('62.1'), Decimal('88.3')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 5, 0, 0), Decimal('88.3'), Decimal('69.1'), Decimal('98.8')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 6, 0, 0), Decimal('98.8'), Decimal('88.3'), Decimal('59.7')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 7, 0, 0), Decimal('59.7'), Decimal('98.8'), Decimal('82.4')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 26, 0, 0), Decimal('82.4'), Decimal('59.7'), Decimal('78.5')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 29, 0, 0), Decimal('78.5'), Decimal('82.4'), Decimal('83.8')),
 ("La corne d'abondance", datetime.datetime(2011, 5, 30, 0, 0), Decimal('83.8'), Decimal('78.5'), 92),
 ("La corne d'abondance", datetime.datetime(2011, 5, 31, 0, 0), Decimal('92'), Decimal('83.8'), None),
 ("La maison d'Asie", datetime.datetime(2011, 5, 1, 0, 0), Decimal('60.2'), None, Decimal('77.3')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 2, 0, 0), Decimal('77.3'), Decimal('60.2'), Decimal('53.2')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 3, 0, 0), Decimal('53.2'), Decimal('77.3'), Decimal('58.2')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 4, 0, 0), Decimal('58.2'), Decimal('53.2'), Decimal('62.6')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 5, 0, 0), Decimal('62.6'), Decimal('58.2'), Decimal('53.1')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 6, 0, 0), Decimal('53.1'), Decimal('62.6'), Decimal('69.6')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 7, 0, 0), Decimal('69.6'), Decimal('53.1'), Decimal('93.5')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 16, 0, 0), Decimal('93.5'), Decimal('69.6'), Decimal('67.3')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 17, 0, 0), Decimal('67.3'), Decimal('93.5'), Decimal('83.7')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 18, 0, 0), Decimal('83.7'), Decimal('67.3'), Decimal('55.4')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 19, 0, 0), Decimal('55.4'), Decimal('83.7'), Decimal('74.8')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 20, 0, 0), Decimal('74.8'), Decimal('55.4'), Decimal('92.9')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 26, 0, 0), Decimal('92.9'), Decimal('74.8'), Decimal('86.8')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 27, 0, 0), Decimal('86.8'), Decimal('92.9'), Decimal('90.1')),
 ("La maison d'Asie", datetime.datetime(2011, 5, 28, 0, 0), Decimal('90.1'), Decimal('86.8'), 94),
 ("La maison d'Asie", datetime.datetime(2011, 5, 29, 0, 0), Decimal('94'), Decimal('90.1'), 75),
 ("La maison d'Asie", datetime.datetime(2011, 5, 30, 0, 0), Decimal('75'), 94, None),
 ('Paris spécialités', datetime.datetime(2011, 5, 12, 0, 0), Decimal('76.1'), None, Decimal('80.5')),
 ('Paris spécialités', datetime.datetime(2011, 5, 13, 0, 0), Decimal('80.5'), Decimal('76.1'), Decimal('56.1')),
 ('Paris spécialités', datetime.datetime(2011, 5, 14, 0, 0), Decimal('56.1'), Decimal('80.5'), Decimal('56.2')),
 ('Paris spécialités', datetime.datetime(2011, 5, 15, 0, 0), Decimal('56.2'), Decimal('56.1'), Decimal('88.6')),
 ('Paris spécialités', datetime.datetime(2011, 5, 16, 0, 0), Decimal('88.6'), Decimal('56.2'), Decimal('50.6')),
 ('Paris spécialités', datetime.datetime(2011, 5, 18, 0, 0), Decimal('50.6'), Decimal('88.6'), Decimal('78.1')),
 ('Paris spécialités', datetime.datetime(2011, 5, 19, 0, 0), Decimal('78.1'), Decimal('50.6'), Decimal('62.7')),
 ('Paris spécialités', datetime.datetime(2011, 5, 20, 0, 0), Decimal('62.7'), Decimal('78.1'), None),
 ('Spécialités du monde', datetime.datetime(2011, 5, 1, 0, 0), Decimal('50.8'), None, Decimal('80.6')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 2, 0, 0), Decimal('80.6'), Decimal('50.8'), Decimal('50.2')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 3, 0, 0), Decimal('50.2'), Decimal('80.6'), Decimal('52.5')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 5, 0, 0), Decimal('52.5'), Decimal('50.2'), Decimal('61.7')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 6, 0, 0), Decimal('61.7'), Decimal('52.5'), 59),
 ('Spécialités du monde', datetime.datetime(2011, 5, 10, 0, 0), Decimal('59'), Decimal('61.7'), Decimal('52.3')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 11, 0, 0), Decimal('52.3'), 59, 84),
 ('Spécialités du monde', datetime.datetime(2011, 5, 26, 0, 0), Decimal('84'), Decimal('52.3'), Decimal('95.6')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 27, 0, 0), Decimal('95.6'), 84, Decimal('86.4')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 28, 0, 0), Decimal('86.4'), Decimal('95.6'), Decimal('91.9')),
 ('Spécialités du monde', datetime.datetime(2011, 5, 30, 0, 0), Decimal('91.9'), Decimal('86.4'), 78),
 ('Spécialités du monde', datetime.datetime(2011, 5, 31, 0, 0), Decimal('78'), Decimal('91.9'), None),
 ('Victuailles en stock', datetime.datetime(2011, 5, 1, 0, 0), Decimal('95.6'), None, Decimal('89.1')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 2, 0, 0), Decimal('89.1'), Decimal('95.6'), Decimal('72.4')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 3, 0, 0), Decimal('72.4'), Decimal('89.1'), Decimal('78.8')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 4, 0, 0), Decimal('78.8'), Decimal('72.4'), Decimal('94.5')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 5, 0, 0), Decimal('94.5'), Decimal('78.8'), Decimal('57.4')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 6, 0, 0), Decimal('57.4'), Decimal('94.5'), Decimal('55.9')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 8, 0, 0), Decimal('55.9'), Decimal('57.4'), Decimal('64.4')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 9, 0, 0), Decimal('64.4'), Decimal('55.9'), Decimal('96.1')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 10, 0, 0), Decimal('96.1'), Decimal('64.4'), Decimal('89.2')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 11, 0, 0), Decimal('89.2'), Decimal('96.1'), Decimal('86.6')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 21, 0, 0), Decimal('86.6'), Decimal('89.2'), Decimal('69.8')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 22, 0, 0), Decimal('69.8'), Decimal('86.6'), Decimal('59.4')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 23, 0, 0), Decimal('59.4'), Decimal('69.8'), Decimal('81.3')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 24, 0, 0), Decimal('81.3'), Decimal('59.4'), Decimal('73.1')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 25, 0, 0), Decimal('73.1'), Decimal('81.3'), Decimal('95.3')),
 ('Victuailles en stock', datetime.datetime(2011, 5, 31, 0, 0), Decimal('95.3'), Decimal('73.1'), None),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 9, 0, 0), Decimal('84.8'), None, Decimal('85.8')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 10, 0, 0), Decimal('85.8'), Decimal('84.8'), Decimal('92.4')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 11, 0, 0), Decimal('92.4'), Decimal('85.8'), Decimal('73.7')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 12, 0, 0), Decimal('73.7'), Decimal('92.4'), Decimal('98.3')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 13, 0, 0), Decimal('98.3'), Decimal('73.7'), Decimal('73.9')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 14, 0, 0), Decimal('73.9'), Decimal('98.3'), Decimal('69.3')),
 ('Vins et alcools Chevalier', datetime.datetime(2011, 5, 15, 0, 0), Decimal('69.3'), Decimal('73.9'), None)]

In [28]:
%%sql 
SELECT 
    CL.SOCIETE, 
    CO.DATE_COMMANDE, 
    CO.PORT P,
    SUM(CO.PORT) OVER ( ORDER BY CO.CODE_CLIENT, CO.DATE_COMMANDE)  SCT,
    SUM(CO.PORT) OVER ( ORDER BY CO.CODE_CLIENT, CO.DATE_COMMANDE
                        ROWS UNBOUNDED PRECEDING                         )  C01,    
    SUM(CO.PORT) OVER ( ORDER BY CO.CODE_CLIENT, CO.DATE_COMMANDE
                        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW )  C02
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)        
WHERE ANNEE = 2011 AND MOIS = 5 AND PAYS = 'France'       
FETCH NEXT 18 ROWS WITH TIES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Blondel père et fils', datetime.datetime(2011, 5, 12, 0, 0), Decimal('56'), 56, 56, 56),
 ('Blondel père et fils', datetime.datetime(2011, 5, 13, 0, 0), Decimal('71.5'), Decimal('127.5'), Decimal('127.5'), Decimal('127.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 15, 0, 0), Decimal('90'), Decimal('217.5'), Decimal('217.5'), Decimal('217.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 16, 0, 0), Decimal('51.9'), Decimal('269.4'), Decimal('269.4'), Decimal('269.4')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 17, 0, 0), Decimal('83.5'), Decimal('352.9'), Decimal('352.9'), Decimal('352.9')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 19, 0, 0), Decimal('78.3'), Decimal('431.2'), Decimal('431.2'), Decimal('431.2')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 20, 0, 0), Decimal('76.3'), Decimal('507.5'), Decimal('507.5'), Decimal('507.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 21, 0, 0), Decimal('85.3'), Decimal('592.8'), Decimal('592.8'), Decimal('592.8')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 22, 0, 0), Decimal('83.7'), Decimal('676.5'), Decimal('676.5'), Decimal('676.5')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 23, 0, 0), Decimal('80.2'), Decimal('756.7'), Decimal('756.7'), Decimal('756.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 24, 0, 0), Decimal('67.7'), Decimal('824.4'), Decimal('824.4'), Decimal('824.4')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 25, 0, 0), Decimal('89.9'), Decimal('914.3'), Decimal('914.3'), Decimal('914.3')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 26, 0, 0), Decimal('83.7'), 998, 998, 998),
 ('Blondel père et fils', datetime.datetime(2011, 5, 27, 0, 0), Decimal('67.8'), Decimal('1065.8'), Decimal('1065.8'), Decimal('1065.8')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 29, 0, 0), Decimal('54.9'), Decimal('1120.7'), Decimal('1120.7'), Decimal('1120.7')),
 ('Blondel père et fils', datetime.datetime(2011, 5, 30, 0, 0), Decimal('93.1'), Decimal('1213.8'), Decimal('1213.8'), Decimal('1213.8')),
 ("Bon app'", datetime.datetime(2011, 5, 1, 0, 0), Decimal('90.4'), Decimal('1304.2'), Decimal('1304.2'), Decimal('1304.2')),
 ("Bon app'", datetime.datetime(2011, 5, 2, 0, 0), Decimal('67.5'), Decimal('1371.7'), Decimal('1371.7'), Decimal('1371.7'))]

In [29]:
%%sql 
SELECT 
DATE_COMMANDE, 
SUM(PORT) SP, 
AVG(SUM(PORT)) OVER ( ORDER BY DATE_COMMANDE 
                      ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING ) AP
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT) 
WHERE ANNEE = 2011 AND MOIS = 5 
GROUP BY DATE_COMMANDE
FETCH NEXT 18 ROWS WITH TIES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(datetime.datetime(2011, 5, 1, 0, 0), Decimal('1665.1'), Decimal('1751.7')),
 (datetime.datetime(2011, 5, 2, 0, 0), Decimal('1838.3'), Decimal('1674.3')),
 (datetime.datetime(2011, 5, 3, 0, 0), Decimal('1519.5'), Decimal('1620.066666666666666666666666666666666667')),
 (datetime.datetime(2011, 5, 4, 0, 0), Decimal('1502.4'), Decimal('1630.766666666666666666666666666666666667')),
 (datetime.datetime(2011, 5, 5, 0, 0), Decimal('1870.4'), Decimal('1681.033333333333333333333333333333333333')),
 (datetime.datetime(2011, 5, 6, 0, 0), Decimal('1670.3'), Decimal('1751.733333333333333333333333333333333333')),
 (datetime.datetime(2011, 5, 7, 0, 0), Decimal('1714.5'), Decimal('2085.433333333333333333333333333333333333')),
 (datetime.datetime(2011, 5, 8, 0, 0), Decimal('2871.5'), Decimal('2543.866666666666666666666666666666666667')),
 (datetime.datetime(2011, 5, 9, 0, 0), Decimal('3045.6'), Decimal('3020.433333333333333333333333333333333333')),
 (datetime.datetime(2011, 5, 10, 0, 0), Decimal('3144.2'), Decimal('3039.233333333333333333333333333333333333')),
 (datetime.datetime(2011, 5, 11, 0, 0), Decimal('2927.9'), Decimal('2884.1')),
 (datetime.datetime(2011, 5, 12, 0, 0), Decimal('2580.2'), Decimal('2623.966666666666666666666666666666666667')),
 (datetime.datetime(2011, 5, 13, 0, 0), Decimal('2363.8'), 2403),
 (datetime.datetime(2011, 5, 14, 0, 0), 2265, Decimal('2374.2')),
 (datetime.datetime(2011, 5, 15, 0, 0), Decimal('2493.8'), Decimal('2320.566666666666666666666666666666666667')),
 (datetime.datetime(2011, 5, 16, 0, 0), Decimal('2202.9'), Decimal('2168.6')),
 (datetime.datetime(2011, 5, 17, 0, 0), Decimal('1809.1'), Decimal('1987.433333333333333333333333333333333333')),
 (datetime.datetime(2011, 5, 18, 0, 0), Decimal('1950.3'), Decimal('1946.566666666666666666666666666666666667'))]

# Fonctions de classement

## ROW_NUMBER

In [30]:
%%sql 
SELECT 
    CODE_CATEGORIE CAT,
    NO_FOURNISSEUR NF,
    UNITES_STOCK US,
    ROW_NUMBER() OVER ( PARTITION BY CODE_CATEGORIE
                       ORDER BY UNITES_STOCK)       RN1,
    ROW_NUMBER() OVER ( PARTITION BY CODE_CATEGORIE
                 ORDER BY UNITES_STOCK NULLS FIRST) RN2,
    ROW_NUMBER()OVER (
       ORDER BY CODE_CATEGORIE, UNITES_STOCK)       RN3,
    ROW_NUMBER() OVER ( ORDER BY CODE_CATEGORIE,
                 NO_FOURNISSEUR,UNITES_STOCK)       RN4,
    ROW_NUMBER() OVER ( ORDER BY NO_FOURNISSEUR,
                           UNITES_STOCK  )          RN5
FROM PRODUITS WHERE CODE_CATEGORIE < 3

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(1, 7, 15, 1, 2, 1, 3, 13),
 (1, 1, 17, 2, 3, 2, 1, 2),
 (1, 20, 17, 3, 5, 3, 15, 33),
 (1, 18, 17, 4, 4, 4, 12, 30),
 (1, 16, 20, 5, 6, 5, 8, 23),
 (1, 1, 39, 6, 7, 6, 2, 3),
 (1, 14, 50, 7, 8, 7, 6, 21),
 (1, 16, 52, 8, 9, 8, 9, 24),
 (1, 23, 57, 9, 10, 9, 16, 35),
 (1, 18, 60, 10, 11, 10, 13, 31),
 (1, 18, 69, 11, 12, 11, 14, 32),
 (1, 16, 100, 12, 13, 12, 10, 27),
 (1, 16, 111, 13, 14, 13, 11, 28),
 (1, 12, 125, 14, 16, 14, 5, 17),
 (1, 14, 125, 15, 15, 15, 7, 22),
 (1, 10, None, 16, 1, 16, 4, 15),
 (2, 2, 0, 1, 1, 17, 18, 4),
 (2, 2, 4, 2, 2, 18, 19, 5),
 (2, 3, 6, 3, 3, 19, 22, 8),
 (2, 1, 13, 4, 4, 20, 17, 1),
 (2, 7, 24, 5, 5, 21, 27, 14),
 (2, 13, 25, 6, 6, 22, 29, 18),
 (2, 20, 27, 7, 7, 23, 35, 34),
 (2, 12, 32, 8, 8, 24, 28, 16),
 (2, 6, 39, 9, 9, 25, 25, 11),
 (2, 6, 40, 10, 11, 26, 26, 12),
 (2, 27, 40, 11, 14, 27, 37, 37),
 (2, 26, 40, 12, 10, 28, 36, 36),
 (2, 14, 40, 13, 13, 29, 31, 19),
 (2, 14, 40, 14, 12, 30, 30, 20),
 (2, 2, 53, 15, 15, 31, 20, 6),
 (2, 16, 60, 16, 17, 32, 32, 25),
 (2, 4, 60, 17, 16, 33, 24, 10),
 (2, 2, 76, 18, 18, 34, 21, 7),
 (2, 16, 80, 19, 19, 35, 33, 26),
 (2, 17, 100, 20, 20, 36, 34, 29),
 (2, 29, 113, 21, 21, 37, 38, 38),
 (2, 3, 120, 22, 22, 38, 23, 9)]

## RANK

In [33]:
%%sql 
SELECT 
    ROW_NUMBER() OVER ( ORDER BY SALAIRE DESC) RN, 
    NOM,
    SALAIRE,
    RSD,
    RSC
FROM (SELECT 
          NOM,
          SALAIRE, 
          RANK ()OVER ( ORDER BY SALAIRE DESC) RSD,
          RANK ()OVER ( ORDER BY SALAIRE ASC ) RSC
      FROM EMPLOYES) 
WHERE RSD <= 3 or RSC <= 3

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(1, 'Giroux', Decimal('150000'), 1, 111),
 (2, 'Brasseur', Decimal('147000'), 2, 110),
 (3, 'Fuller', Decimal('96000'), 3, 109),
 (4, 'Maurer', Decimal('1400'), 109, 3),
 (5, 'Lampis', Decimal('1300'), 110, 2),
 (6, 'Callahan', Decimal('1200'), 111, 1)]

## DENSE_RANK

In [34]:
%%sql
SELECT 
    ROW_NUMBER() OVER 
            ( ORDER BY UNITES_STOCK NULLS LAST) RN,
    NOM_PRODUIT, NO_FOURNISSEUR NF, UNITES_STOCK US,
    RANK() OVER ( ORDER BY UNITES_STOCK) R,
    DENSE_RANK() OVER (ORDER BY UNITES_STOCK) DR,
    DENSE_RANK() OVER (ORDER BY UNITES_STOCK
                      NULLS FIRST) DRI
FROM PRODUITS 
WHERE CODE_CATEGORIE = 1
ORDER BY US NULLS LAST

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(1, 'Outback Lager', 7, 15, 1, 1, 2),
 (2, 'Chang', 1, 17, 2, 2, 3),
 (3, 'Côte de Blaye', 18, 17, 2, 2, 3),
 (4, 'Ipoh Coffee', 20, 17, 2, 2, 3),
 (5, 'Steeleye Stout', 16, 20, 5, 3, 4),
 (6, 'Chai', 1, 39, 6, 4, 5),
 (7, 'Tea', 14, 50, 7, 5, 6),
 (8, 'Laughing Lumberjack Lager', 16, 52, 8, 6, 7),
 (9, 'Lakkalikööri', 23, 57, 9, 7, 8),
 (10, 'Beer', 18, 60, 10, 8, 9),
 (11, 'Chartreuse verte', 18, 69, 11, 9, 10),
 (12, 'Coffee', 16, 100, 12, 10, 11),
 (13, 'Sasquatch Ale', 16, 111, 13, 11, 12),
 (14, 'Rhönbräu Klosterbier', 12, 125, 14, 12, 13),
 (15, 'Green Tea', 14, 125, 14, 12, 13),
 (16, 'Guaraná Fantástica', 10, None, 16, 13, 1)]

## PERCENT_RANK

In [36]:
%%sql 
SELECT 
    FONCTION, 
    PAYS, 
    SUM(SALAIRE) SS,
    PERCENT_RANK() OVER ( PARTITION BY FONCTION
           ORDER BY SUM(SALAIRE)) PERCENT_RANK
FROM EMPLOYES 
GROUP BY FONCTION, PAYS

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Assistante commerciale', None, 16540, 0),
 ('Chef des ventes', None, 83000, 0),
 ('Président', None, 150000, 0),
 ('Représentant(e)', 'Brésil', 23100, 0),
 ('Représentant(e)', 'États-Unis', 23100, 0),
 ('Représentant(e)', 'Autriche', 25600, Decimal('0.1')),
 ('Représentant(e)', 'Belgique', 27000, Decimal('0.15')),
 ('Représentant(e)', 'Danemark', 27500, Decimal('0.2')),
 ('Représentant(e)', 'Mexique', 28900, Decimal('0.25')),
 ('Représentant(e)', 'Italie', 29000, Decimal('0.3')),
 ('Représentant(e)', 'Finlande', 29800, Decimal('0.35')),
 ('Représentant(e)', 'Suède', 31300, Decimal('0.4')),
 ('Représentant(e)', 'Portugal', 31600, Decimal('0.45')),
 ('Représentant(e)', 'France', 32200, Decimal('0.5')),
 ('Représentant(e)', 'Pologne', 32400, Decimal('0.55')),
 ('Représentant(e)', 'Norvège', 35300, Decimal('0.6')),
 ('Représentant(e)', 'Canada', 35500, Decimal('0.65')),
 ('Représentant(e)', 'Irlande', 36400, Decimal('0.7')),
 ('Représentant(e)', 'Espagne', 36700, Decimal('0.75')),
 ('Représentant(e)', 'Suisse', 36700, Decimal('0.75')),
 ('Représentant(e)', 'Venezuela', 37800, Decimal('0.85')),
 ('Représentant(e)', 'Argentine', 38900, Decimal('0.9')),
 ('Représentant(e)', 'Royaume-Uni', 42900, Decimal('0.95')),
 ('Représentant(e)', 'Allemagne', 51200, 1),
 ('Vice-Président', None, 243000, 0)]

## NTILE

In [37]:
%%sql 
SELECT 
    ROW_NUMBER() OVER(ORDER BY SUM(PRIX_UNITAIRE*QUANTITE)) RN,
    PAYS, 
    SUM(PRIX_UNITAIRE*QUANTITE) CA,
    NTILE(4) OVER(ORDER BY SUM(PRIX_UNITAIRE*QUANTITE)) NT
FROM CLIENTS CL                                
    JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)  
    JOIN DETAILS_COMMANDES DC                 
        ON ( CO.NO_COMMANDE = DC.NO_COMMANDE)
WHERE ANNEE = 2011 
GROUP BY PAYS

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(1, 'Pologne', 10464648, 1),
 (2, 'Irlande', Decimal('18515472.96'), 1),
 (3, 'Norvège', Decimal('19121804.88'), 1),
 (4, 'Autriche', Decimal('23540791.8'), 1),
 (5, 'Finlande', Decimal('26656539.48'), 1),
 (6, 'Suisse', Decimal('29869836.12'), 1),
 (7, 'Belgique', Decimal('30031948.44'), 2),
 (8, 'Suède', Decimal('32004958.92'), 2),
 (9, 'Danemark', Decimal('33055389.84'), 2),
 (10, 'Portugal', Decimal('36860874.6'), 2),
 (11, 'Italie', Decimal('42563171.16'), 2),
 (12, 'Argentine', Decimal('43528525.56'), 3),
 (13, 'Canada', Decimal('51809202.24'), 3),
 (14, 'Venezuela', Decimal('65413824.72'), 3),
 (15, 'Mexique', Decimal('72323122.32'), 3),
 (16, 'Espagne', Decimal('81051274.56'), 3),
 (17, 'Royaume-Uni', Decimal('112585949.16'), 4),
 (18, 'Brésil', Decimal('130405107.6'), 4),
 (19, 'Allemagne', Decimal('171322408.08'), 4),
 (20, 'France', Decimal('177411924.84'), 4),
 (21, 'États-Unis', Decimal('194575638.48'), 4)]

## WIDTH_BUCKET

In [40]:
%%sql
SELECT 
    PAYS, 
    SUM(QUANTITE) Q,
    ROUND(MAX(SUM(QUANTITE))OVER()   / 4) B1,
    ROUND(MAX(SUM(QUANTITE))OVER()   / 2) B2,
    ROUND(MAX(SUM(QUANTITE))OVER()*3 / 4) B3,
    NTILE(4) OVER(ORDER BY SUM(QUANTITE)) NT,
    WIDTH_BUCKET( SUM(QUANTITE), 
                  MIN(SUM(QUANTITE)) OVER (), 
                  MAX(SUM(QUANTITE)) OVER ()+1, 
                  4 ) WB
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)  
     JOIN DETAILS_COMMANDES DC                 
        ON ( CO.NO_COMMANDE = DC.NO_COMMANDE)
WHERE ANNEE = 2011 
GROUP BY PAYS

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Pologne', 159140, 740755, 1481509, 2222264, 1, 1),
 ('Irlande', 282713, 740755, 1481509, 2222264, 1, 1),
 ('Norvège', 291405, 740755, 1481509, 2222264, 1, 1),
 ('Autriche', 362205, 740755, 1481509, 2222264, 1, 1),
 ('Finlande', 407997, 740755, 1481509, 2222264, 1, 1),
 ('Suisse', 457257, 740755, 1481509, 2222264, 1, 1),
 ('Belgique', 457380, 740755, 1481509, 2222264, 2, 1),
 ('Suède', 488813, 740755, 1481509, 2222264, 2, 1),
 ('Danemark', 506217, 740755, 1481509, 2222264, 2, 1),
 ('Portugal', 564737, 740755, 1481509, 2222264, 2, 1),
 ('Italie', 649492, 740755, 1481509, 2222264, 2, 1),
 ('Argentine', 663302, 740755, 1481509, 2222264, 3, 1),
 ('Canada', 794266, 740755, 1481509, 2222264, 3, 1),
 ('Venezuela', 998992, 740755, 1481509, 2222264, 3, 2),
 ('Mexique', 1101722, 740755, 1481509, 2222264, 3, 2),
 ('Espagne', 1238242, 740755, 1481509, 2222264, 3, 2),
 ('Royaume-Uni', 1725326, 740755, 1481509, 2222264, 4, 3),
 ('Brésil', 1992712, 740755, 1481509, 2222264, 4, 3),
 ('Allemagne', 2621324, 740755, 1481509, 2222264, 4, 4),
 ('France', 2713106, 740755, 1481509, 2222264, 4, 4),
 ('États-Unis', 2963018, 740755, 1481509, 2222264, 4, 4)]

# Fonctions de fenêtre
## FIRST_VALUE

In [42]:
%%sql 
WITH VENTES AS (
SELECT CL.PAYS,CO.DATE_COMMANDE,SUM(CO.PORT) SP
    FROM CLIENTS CL JOIN COMMANDES CO
         ON ( CL.CODE_CLIENT = CO.CODE_CLIENT
             AND CO.ANNEE = 2011 AND CO.MOIS = 5
             AND CL.PAYS IN ('Suisse'))
GROUP BY CL.PAYS,CO.DATE_COMMANDE)
SELECT PAYS,JOUR,SP,
       FIRST_VALUE( SP) OVER
         ( ORDER BY JOUR RANGE INTERVAL '1' DAY PRECEDING) FV1,
       FIRST_VALUE( SP) OVER ( ORDER BY JOUR
                               RANGE 1 PRECEDING )         FV2,
       FIRST_VALUE( SP) OVER ( ORDER BY JOUR)              FV3,
       FIRST_VALUE( SP) IGNORE NULLS OVER ( ORDER BY JOUR) FV4
FROM VENTES V
     PARTITION BY (PAYS) RIGHT OUTER JOIN
      ( SELECT JOUR FROM DIM_TEMPS
        WHERE  ANNEE = 2011 AND MOIS_N = 5) T
     ON ( V.DATE_COMMANDE = T.JOUR)
ORDER BY PAYS,JOUR
FETCH NEXT 10 ROWS WITH TIES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Suisse', datetime.datetime(2011, 5, 1, 0, 0), None, None, None, None, None),
 ('Suisse', datetime.datetime(2011, 5, 2, 0, 0), Decimal('73.6'), None, None, None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 3, 0, 0), Decimal('87.6'), Decimal('73.6'), Decimal('73.6'), None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 4, 0, 0), None, Decimal('87.6'), Decimal('87.6'), None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 5, 0, 0), Decimal('61.4'), None, None, None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 6, 0, 0), Decimal('78.5'), Decimal('61.4'), Decimal('61.4'), None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 7, 0, 0), Decimal('65.1'), Decimal('78.5'), Decimal('78.5'), None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 8, 0, 0), 122, Decimal('65.1'), Decimal('65.1'), None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 9, 0, 0), Decimal('179.7'), 122, 122, None, Decimal('73.6')),
 ('Suisse', datetime.datetime(2011, 5, 10, 0, 0), Decimal('130.9'), Decimal('179.7'), Decimal('179.7'), None, Decimal('73.6'))]

## LAST_VALUE

In [44]:
%%sql
SELECT PAYS, MOIS, SUM(DC.QUANTITE) Q,
       LAST_VALUE( SUM(DC.QUANTITE)) OVER
         ( PARTITION BY PAYS ORDER BY MOIS ROWS
                  BETWEEN CURRENT ROW AND 1 FOLLOWING ) LV1,
       LAST_VALUE( SUM(DC.QUANTITE)) OVER
                    ( PARTITION BY PAYS ORDER BY MOIS ) LV2,
       LAST_VALUE( SUM(DC.QUANTITE)) OVER
                    ( PARTITION BY PAYS               ) LV3
FROM CLIENTS CL                                
     JOIN COMMANDES CO                         
        ON ( CL.CODE_CLIENT = CO.CODE_CLIENT)  
     JOIN DETAILS_COMMANDES DC                 
        ON ( CO.NO_COMMANDE = DC.NO_COMMANDE)  
     JOIN PRODUITS PR                          
        ON ( DC.REF_PRODUIT = PR.REF_PRODUIT)
WHERE ANNEE = 2010 AND PAYS IN ('France','Suisse')
GROUP BY PAYS, MOIS

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('France', 1, 369797, 266531, 369797, 188311),
 ('France', 2, 266531, 292601, 266531, 188311),
 ('France', 3, 292601, 320200, 292601, 188311),
 ('France', 4, 320200, 354684, 320200, 188311),
 ('France', 5, 354684, 265565, 354684, 188311),
 ('France', 6, 265565, 271807, 265565, 188311),
 ('France', 7, 271807, 336000, 271807, 188311),
 ('France', 8, 336000, 326181, 336000, 188311),
 ('France', 9, 326181, 383735, 326181, 188311),
 ('France', 10, 383735, 355441, 383735, 188311),
 ('France', 11, 355441, 188311, 355441, 188311),
 ('France', 12, 188311, 188311, 188311, 188311),
 ('Suisse', 1, 48029, 70379, 48029, 49359),
 ('Suisse', 2, 70379, 26949, 70379, 49359),
 ('Suisse', 3, 26949, 55450, 26949, 49359),
 ('Suisse', 4, 55450, 66974, 55450, 49359),
 ('Suisse', 5, 66974, 73855, 66974, 49359),
 ('Suisse', 6, 73855, 95323, 73855, 49359),
 ('Suisse', 7, 95323, 82201, 95323, 49359),
 ('Suisse', 8, 82201, 28262, 82201, 49359),
 ('Suisse', 9, 28262, 35173, 28262, 49359),
 ('Suisse', 10, 35173, 54646, 35173, 49359),
 ('Suisse', 11, 54646, 49359, 54646, 49359),
 ('Suisse', 12, 49359, 49359, 49359, 49359)]